**/.DS_STORE
db/
dist/
node_modules
database.db
tsconfig.tsbuildinfo
files/
assets/cache
.env
config.json
assets/cacheMisses

.vscode/settings.json
.idea/

build

*.log
*.log.ansi
*.tmp
tmp/
dump/
result