**/.DS_STORE
db/
dist/
node_modules
database.db
tsconfig.tsbuildinfo
files/
assets/cache
.env
config.json
assets/cacheMisses

.vscode/settings.json

build

*.log
*.log.ansi
*.tmp
tmp/
dump/
result
jwt.key*
bun.lock

# optional generated outputs from schema.js
schemas_orig/
schemas_nested/
schemas_final/

temp/
!/extra/admin-api/Utilities/Spacebar.AdminApi.TestClient/wwwroot/lib/bootstrap/dist/
*.qcow2