.DS_STORE
db/
dist/
node_modules
database.db
tsconfig.tsbuildinfo
files/
assets/cache
.env
config.json
assets/cacheMisses
assets/client_test
scripts/client.js
src/api/middlewares/TestClient.ts
yarn.lock

.vscode/settings.json

build

*.log
*.log.ansi
*.tmp
tmp/
dump/