.DS_STORE
db/
dist/
node_modules
database.db
tsconfig.tsbuildinfo
files/
.env
config.json

.vscode/settings.json
api/assets/plugins/*.js
.idea/
*.code-workspace


*.log
*.log.ansi
bundle/depclean.*
*.tmp
tmp/
assets/cache/
*.generated
initial.json
