{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true
		},
		"target": "es2021",
		"baseUrl": ".",
		"paths": {
			"@fosscord/gateway": ["src/index"],
			"@fosscord/gateway/*": ["src/*"]
		}
	}
}
