/* Can you tell I like flexbox? */

html {
	--background-primary: rgb(22, 23, 25);
	--background-secondary: rgb(15, 16, 18);
	--foreground-primary: rgb(200, 200, 200);
	--background-login-discord: #5865f2;

	background: url("https://slowcord.maddy.k.vu/assets/background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	font-family: "Montserrat", sans-serif;

	color: var(--foreground-primary);
}

* {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: flex-start;
	align-items: center;
}

.login {
	height: 100%;
	width: 25%;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--background-primary);

	padding: 0 50px 0 50px;
}

.header {
	margin: 40px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-subtext {
	text-align: center;
}

.header-subtext a,
.header-subtext p {
	display: inline-block;
	margin: 0 10px 0 10px;
}

a {
	color: var(--foreground-primary);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 50%;
}

input,
form a {
	background-color: var(--background-secondary);
	padding: 10px;
	margin: 5px 0 5px 0;
	outline: none;
	border: 1px solid grey;
	color: var(--foreground-primary);
	text-decoration: none;
	cursor: pointer;
}

form a {
	text-align: center;
}

label {
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: bold;
}

#loginDiscord {
	background-color: var(--background-login-discord);
}

#failure {
	width: 100%;
	margin-top: 10px;
	color: rgb(200, 20, 20);
	display: none;
}

.h-captcha {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
