/* replace tos acceptance popup */
#app-mount > div:nth-child(7) > div > div > div.tooltipContent-bqVLWK {
	visibility: hidden;
}
#app-mount > div:nth-child(7) > div > div > div.tooltipContent-bqVLWK::after {
	visibility: visible;
	display: block;
	content: "You need to agree to this instance's rules to continue";
	margin-top: -32px;
}
/* replace login header */
#app-mount > div.app-1q1i1E > div > div > div > div > form > div > div > div.mainLoginContainer-1ddwnR > h3 {
	visibility: hidden;
}
h3.title-jXR8lp.marginBottom8-AtZOdT.base-1x0h_U.size24-RIRrxO::after {
	margin-top: -32px;
	content: "Welcome to Spacebar!";
	visibility: visible;
	display: block;
}

/* Logo in top left when bg removed */
#app-mount > div.app-1q1i1E > div > a {
	/* replace me: original dimensions: 130x36 */
	background: url(https://raw.githubusercontent.com/spacebarchat/spacebarchat/master/branding/svg/Spacebar__Logo-Blue.svg);
	width: 130px;
	height: 23px;
	background-size: contain;
}

/* replace TOS text */

#app-mount
	> div.app-1q1i1E
	> div
	> div
	> div
	> form
	> div
	> div
	> div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.marginTop20-3TxNs6
	> label
	> div.label-cywgfr.labelClickable-11AuB8.labelForward-1wfipV
	> * {
	visibility: hidden;
}

#app-mount
	> div.app-1q1i1E
	> div
	> div
	> div
	> form
	> div
	> div
	> div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.marginTop20-3TxNs6
	> label
	> div.label-cywgfr.labelClickable-11AuB8.labelForward-1wfipV::after {
	visibility: visible;
	content: "I have read and agree with the rules set by this instance.";
	display: block;
	margin-top: -16px;
}

/* shrink login box to same size as register */
.authBoxExpanded-2jqaBe {
	width: 480px !important;
}