{
    "openapi": "3.1.0",
    "info": {
        "title": "Spacebar Server",
        "description": "Spacebar is a Discord.com server implementation and extension, with the goal of complete feature parity with Discord.com, all while adding some additional goodies, security, privacy, and configuration options.",
        "license": {
            "name": "AGPLV3",
            "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
        },
        "version": "1.0.0"
    },
    "externalDocs": {
        "description": "Spacebar Docs",
        "url": "https://docs.spacebar.chat"
    },
    "servers": [
        {
            "url": "https://old.server.spacebar.chat/api/",
            "description": "Official Spacebar Instance"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Bearer/Bot prefixes are not required.",
                "bearerFormat": "JWT",
                "in": "header"
            }
        },
        "schemas": {
            "CreateFingerprintResponse": {
                "type": "object",
                "properties": {
                    "fingerprint": {
                        "type": "string"
                    }
                },
                "required": [
                    "fingerprint"
                ]
            },
            "ApplicationCommandSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "type": {
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ],
                        "type": "number"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "name_localizations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "name_localized": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string"
                    },
                    "description_localizations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "description_localized": {
                        "type": "string",
                        "nullable": true
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationCommandOption"
                        }
                    },
                    "default_member_permissions": {
                        "type": "string",
                        "nullable": true
                    },
                    "dm_permission": {
                        "type": "boolean"
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/ApplicationCommandIndexPermissions"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "integration_types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationIntegrationType"
                        }
                    },
                    "global_popularity_rank": {
                        "type": "integer"
                    },
                    "contexts": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InteractionContextType"
                        }
                    },
                    "version": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "handler": {
                        "enum": [
                            1,
                            2,
                            3
                        ],
                        "type": "number"
                    }
                },
                "required": [
                    "application_id",
                    "default_member_permissions",
                    "description",
                    "name",
                    "version"
                ]
            },
            "ConnectedAccountCommonOAuthTokenResponse": {
                "type": "object",
                "properties": {
                    "access_token": {
                        "type": "string"
                    },
                    "token_type": {
                        "type": "string"
                    },
                    "scope": {
                        "type": "string"
                    },
                    "refresh_token": {
                        "type": "string"
                    },
                    "expires_in": {
                        "type": "integer"
                    }
                },
                "required": [
                    "access_token",
                    "scope",
                    "token_type"
                ]
            },
            "KeySchema": {
                "type": "object",
                "properties": {
                    "_type": {
                        "type": [
                            "string",
                            "integer",
                            "object"
                        ]
                    },
                    "_output": {
                        "type": [
                            "string",
                            "integer",
                            "object"
                        ]
                    },
                    "_input": {},
                    "_def": {},
                    "description": {
                        "type": "string"
                    },
                    "~standard": {
                        "$ref": "#/components/schemas/StandardSchemaV1.Props<any,string|number|symbol>"
                    },
                    "spa": {
                        "description": "Alias of safeParseAsync",
                        "type": "object",
                        "additionalProperties": false
                    }
                },
                "required": [
                    "_def",
                    "_input",
                    "_output",
                    "_type",
                    "spa",
                    "~standard"
                ]
            },
            "RouteResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer"
                    },
                    "body": {
                        "type": "string",
                        "pattern": "^.*Response$"
                    },
                    "headers": {
                        "$ref": "#/components/schemas/Record<string,string>"
                    }
                }
            },
            "hcaptchaResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "challenge_ts": {
                        "type": "string"
                    },
                    "hostname": {
                        "type": "string"
                    },
                    "credit": {
                        "type": "boolean"
                    },
                    "error-codes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "score": {
                        "type": "integer"
                    },
                    "score_reason": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "challenge_ts",
                    "credit",
                    "error-codes",
                    "hostname",
                    "score",
                    "score_reason",
                    "success"
                ]
            },
            "recaptchaResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "score": {
                        "type": "integer"
                    },
                    "action": {
                        "type": "string"
                    },
                    "challenge_ts": {
                        "type": "string"
                    },
                    "hostname": {
                        "type": "string"
                    },
                    "error-codes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "action",
                    "challenge_ts",
                    "hostname",
                    "score",
                    "success"
                ]
            },
            "AbuseIpDbBlacklistResponse": {
                "type": "object",
                "properties": {
                    "meta": {
                        "type": "object",
                        "properties": {
                            "generatedAt": {
                                "type": "string",
                                "default": "2020-09-24T19:54:11+00:00"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "generatedAt"
                        ]
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "ipAddress": {
                                    "type": "string",
                                    "default": "5.188.10.179"
                                },
                                "abuseConfidenceScore": {
                                    "type": "integer",
                                    "default": 100
                                },
                                "lastReportedAt": {
                                    "type": "string",
                                    "default": "2020-09-24T19:17:02+00:00"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "abuseConfidenceScore",
                                "ipAddress",
                                "lastReportedAt"
                            ]
                        },
                        "default": [
                            {
                                "ipAddress": "5.188.10.179",
                                "abuseConfidenceScore": 100,
                                "lastReportedAt": "2020-09-24T19:17:02+00:00"
                            },
                            {
                                "ipAddress": "185.222.209.14",
                                "abuseConfidenceScore": 100,
                                "lastReportedAt": "2020-09-24T19:17:02+00:00"
                            },
                            {
                                "ipAddress": "191.96.249.183",
                                "abuseConfidenceScore": 100,
                                "lastReportedAt": "2020-09-24T19:17:01+00:00"
                            }
                        ]
                    }
                },
                "required": [
                    "data",
                    "meta"
                ]
            },
            "StoredEmailResponse": {
                "type": "object",
                "properties": {
                    "Content-Type": {
                        "type": "string"
                    },
                    "From": {
                        "type": "string"
                    },
                    "Message-Id": {
                        "type": "string"
                    },
                    "Mime-Version": {
                        "type": "string"
                    },
                    "Subject": {
                        "type": "string"
                    },
                    "To": {
                        "type": "string"
                    },
                    "sender": {
                        "type": "string"
                    },
                    "recipients": {
                        "type": "string"
                    },
                    "from": {
                        "type": "string"
                    },
                    "subject": {
                        "type": "string"
                    },
                    "body-html": {
                        "type": "string"
                    },
                    "body-plain": {
                        "type": "string"
                    },
                    "attachments": {
                        "type": "array",
                        "items": [
                            {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "content-type": {
                                        "type": "string"
                                    },
                                    "size": {
                                        "type": "integer"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "content-type",
                                    "name",
                                    "size",
                                    "url"
                                ]
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "content-id-map": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": true
                    },
                    "message-headers": {
                        "type": "array",
                        "items": {
                            "type": "array",
                            "items": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "string"
                                }
                            ],
                            "minItems": 2,
                            "maxItems": 2
                        }
                    },
                    "stripped-html": {
                        "type": "string"
                    },
                    "stripped-text": {
                        "type": "string"
                    },
                    "stripped-signature": {
                        "type": "string"
                    },
                    "Content-Transfer-Encoding": {
                        "type": "string"
                    },
                    "X-Mailgun-Tag": {
                        "type": "string"
                    },
                    "X-Mailgun-Template-Name": {
                        "type": "string"
                    },
                    "X-Mailgun-Template-Variables": {
                        "type": "string"
                    },
                    "X-Mailgun-Deliver-By": {
                        "type": "string"
                    }
                },
                "required": [
                    "Content-Type",
                    "From",
                    "Message-Id",
                    "Mime-Version",
                    "Subject",
                    "To",
                    "body-html",
                    "body-plain",
                    "message-headers",
                    "recipients",
                    "sender",
                    "stripped-html",
                    "stripped-signature",
                    "stripped-text"
                ]
            },
            "MessagesQueueStatusAPIResponse": {
                "type": "object",
                "properties": {
                    "regular": {
                        "type": "object",
                        "properties": {
                            "is_disabled": {
                                "type": "boolean"
                            },
                            "disabled": {
                                "type": "object",
                                "properties": {
                                    "until": {
                                        "type": "string"
                                    },
                                    "reason": {
                                        "type": "string"
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "reason",
                                    "until"
                                ]
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "disabled",
                            "is_disabled"
                        ]
                    },
                    "scheduled": {
                        "type": "object",
                        "properties": {
                            "is_disabled": {
                                "type": "boolean"
                            },
                            "disabled": {
                                "type": "object",
                                "properties": {
                                    "until": {
                                        "type": "string"
                                    },
                                    "reason": {
                                        "type": "string"
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "reason",
                                    "until"
                                ]
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "disabled",
                            "is_disabled"
                        ]
                    }
                },
                "required": [
                    "regular",
                    "scheduled"
                ]
            },
            "SubaccountSendingLimitResponse": {
                "type": "object",
                "properties": {
                    "limit": {
                        "type": "integer"
                    },
                    "current": {
                        "type": "integer"
                    },
                    "period": {
                        "type": "string"
                    }
                },
                "required": [
                    "current",
                    "limit",
                    "period"
                ]
            },
            "SubaccountSetSendingLimitResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "success"
                ]
            },
            "SubaccountDestroyResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "required": [
                    "message"
                ]
            },
            "ActivateDomainKeyResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "authority": {
                        "type": "string"
                    },
                    "selector": {
                        "type": "string"
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "status": {
                        "type": "integer"
                    }
                },
                "required": [
                    "active",
                    "authority",
                    "message",
                    "selector",
                    "status"
                ]
            },
            "DeactivateDomainKeyResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "authority": {
                        "type": "string"
                    },
                    "selector": {
                        "type": "string"
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "status": {
                        "type": "integer"
                    }
                },
                "required": [
                    "active",
                    "authority",
                    "message",
                    "selector",
                    "status"
                ]
            },
            "FieldErrorResponse": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "$ref": "#/components/schemas/ErrorList"
                    }
                },
                "required": [
                    "code",
                    "errors",
                    "message"
                ]
            },
            "InteractionSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/InteractionType"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "message_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "message_flags": {
                        "type": "integer"
                    },
                    "session_id": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/InteractionData"
                    },
                    "files": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {},
                            "additionalProperties": true
                        }
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "analytics_location": {
                        "type": "string"
                    },
                    "section_name": {
                        "type": "string"
                    },
                    "source": {
                        "type": "string"
                    }
                },
                "required": [
                    "application_id",
                    "channel_id",
                    "data",
                    "type"
                ]
            },
            "InteractionCallbackSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/InteractionCallbackType"
                    },
                    "data": {
                        "$ref": "#/components/schemas/Message"
                    }
                },
                "required": [
                    "data",
                    "type"
                ]
            },
            "InteractionCreateSchema": {
                "type": "object",
                "properties": {
                    "version": {
                        "type": "integer"
                    },
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/InteractionType"
                    },
                    "token": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": true
                    },
                    "guild": {
                        "$ref": "#/components/schemas/InteractionGuild"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "guild_locale": {
                        "type": "string"
                    },
                    "channel": {
                        "$ref": "#/components/schemas/Channel"
                    },
                    "channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "member": {
                        "$ref": "#/components/schemas/PublicMember"
                    },
                    "user": {
                        "$ref": "#/components/schemas/PublicUser"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "message": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "app_permissions": {
                        "type": "string"
                    },
                    "entitlements": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {},
                            "additionalProperties": true
                        }
                    },
                    "entitlement_sku_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "authorizing_integration_owners": {
                        "type": "object",
                        "additionalProperties": false,
                        "patternProperties": {
                            "^[0-9]+$": {
                                "type": "string"
                            }
                        }
                    },
                    "context": {
                        "type": "integer"
                    },
                    "attachment_size_limit": {
                        "type": "integer"
                    }
                },
                "required": [
                    "app_permissions",
                    "application_id",
                    "attachment_size_limit",
                    "id",
                    "token",
                    "type",
                    "version"
                ]
            },
            "ApplicationCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "team_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "ApplicationModifySchema": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "cover_image": {
                        "type": "string"
                    },
                    "interactions_endpoint_url": {
                        "type": "string"
                    },
                    "max_participants": {
                        "type": "integer",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "privacy_policy_url": {
                        "type": "string"
                    },
                    "role_connections_verification_url": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "terms_of_service_url": {
                        "type": "string"
                    },
                    "bot_public": {
                        "type": "boolean"
                    },
                    "bot_require_code_grant": {
                        "type": "boolean"
                    },
                    "flags": {
                        "type": "integer"
                    },
                    "custom_install_url": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    }
                }
            },
            "SendableApplicationCommandDataSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Snowflake"
                    },
                    "type": {
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ],
                        "type": "number"
                    },
                    "name": {
                        "type": "string"
                    },
                    "version": {
                        "$ref": "#/components/schemas/Snowflake"
                    },
                    "application_command": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": true
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationCommandOption"
                        }
                    },
                    "target_id": {
                        "description": "A container for useful snowflake-related methods.",
                        "$ref": "#/components/schemas/Snowflake"
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {},
                            "additionalProperties": true
                        }
                    }
                },
                "required": [
                    "id",
                    "name",
                    "version"
                ]
            },
            "SendableMessageComponentDataSchema": {
                "type": "object",
                "properties": {
                    "component_type": {
                        "enum": [
                            0,
                            1,
                            2,
                            3,
                            4,
                            5,
                            6,
                            7,
                            8
                        ],
                        "type": "number"
                    },
                    "type": {
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ],
                        "type": "number"
                    },
                    "custom_id": {
                        "type": "string"
                    },
                    "values": {
                        "anyOf": [
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Snowflake"
                                }
                            }
                        ]
                    }
                },
                "required": [
                    "custom_id"
                ]
            },
            "SendableModalSubmitDataSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/Snowflake"
                    },
                    "custom_id": {
                        "type": "string"
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/UploadAttachmentRequestSchema"
                        }
                    }
                },
                "required": [
                    "custom_id",
                    "id"
                ]
            },
            "GuildProfileResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "icon_hash": {
                        "type": "string",
                        "nullable": true
                    },
                    "member_count": {
                        "type": "integer"
                    },
                    "online_count": {
                        "type": "integer"
                    },
                    "description": {
                        "type": "string"
                    },
                    "brand_color_primary": {
                        "type": "string"
                    },
                    "banner_hash": {
                        "type": "string",
                        "nullable": true
                    },
                    "game_application_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "game_activity": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/GameActivity"
                        }
                    },
                    "tag": {
                        "type": "string",
                        "nullable": true
                    },
                    "badge": {
                        "$ref": "#/components/schemas/GuildBadgeType"
                    },
                    "badge_color_primary": {
                        "type": "string"
                    },
                    "badge_color_secondary": {
                        "type": "string"
                    },
                    "badge_hash": {
                        "type": "string"
                    },
                    "traits": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildTrait"
                        }
                    },
                    "features": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "visibility": {
                        "$ref": "#/components/schemas/GuildVisibilityLevel"
                    },
                    "custom_banner_hash": {
                        "type": "string",
                        "nullable": true
                    },
                    "premium_subscription_count": {
                        "type": "integer"
                    },
                    "premium_tier": {
                        "type": "integer"
                    }
                },
                "required": [
                    "badge",
                    "badge_color_primary",
                    "badge_color_secondary",
                    "badge_hash",
                    "banner_hash",
                    "brand_color_primary",
                    "custom_banner_hash",
                    "description",
                    "features",
                    "game_activity",
                    "game_application_ids",
                    "icon_hash",
                    "id",
                    "member_count",
                    "name",
                    "online_count",
                    "premium_subscription_count",
                    "premium_tier",
                    "tag",
                    "traits",
                    "visibility"
                ]
            },
            "GuildAvailableSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "available": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "available",
                    "id"
                ]
            },
            "InstanceUserDeleteSchema": {
                "$ref": "#/components/schemas/InstanceUserDeleteSchemaContent"
            },
            "UserSettingsUpdateSchema": {
                "type": "object",
                "properties": {
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "allow_accessibility_detection": {
                        "type": "boolean"
                    },
                    "animate_emoji": {
                        "type": "boolean"
                    },
                    "animate_stickers": {
                        "type": "integer"
                    },
                    "contact_sync_enabled": {
                        "type": "boolean"
                    },
                    "convert_emoticons": {
                        "type": "boolean"
                    },
                    "custom_status": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomStatus"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "default_guilds_restricted": {
                        "type": "boolean"
                    },
                    "detect_platform_accounts": {
                        "type": "boolean"
                    },
                    "developer_mode": {
                        "type": "boolean"
                    },
                    "disable_games_tab": {
                        "type": "boolean"
                    },
                    "enable_tts_command": {
                        "type": "boolean"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "friend_discovery_flags": {
                        "type": "integer"
                    },
                    "friend_source_flags": {
                        "$ref": "#/components/schemas/FriendSourceFlags"
                    },
                    "gateway_connected": {
                        "type": "boolean"
                    },
                    "gif_auto_play": {
                        "type": "boolean"
                    },
                    "guild_folders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildFolder"
                        }
                    },
                    "guild_positions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "inline_attachment_media": {
                        "type": "boolean"
                    },
                    "inline_embed_media": {
                        "type": "boolean"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "message_display_compact": {
                        "type": "boolean"
                    },
                    "native_phone_integration_enabled": {
                        "type": "boolean"
                    },
                    "render_embeds": {
                        "type": "boolean"
                    },
                    "render_reactions": {
                        "type": "boolean"
                    },
                    "restricted_guilds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "show_current_game": {
                        "type": "boolean"
                    },
                    "status": {
                        "enum": [
                            "dnd",
                            "idle",
                            "invisible",
                            "offline",
                            "online"
                        ],
                        "type": "string"
                    },
                    "stream_notifications_enabled": {
                        "type": "boolean"
                    },
                    "theme": {
                        "enum": [
                            "dark",
                            "light"
                        ],
                        "type": "string"
                    },
                    "timezone_offset": {
                        "type": "integer"
                    },
                    "view_nsfw_guilds": {
                        "type": "boolean"
                    }
                }
            },
            "UserSettingsSchema": {
                "type": "object",
                "properties": {
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "allow_accessibility_detection": {
                        "type": "boolean"
                    },
                    "animate_emoji": {
                        "type": "boolean"
                    },
                    "animate_stickers": {
                        "type": "integer"
                    },
                    "contact_sync_enabled": {
                        "type": "boolean"
                    },
                    "convert_emoticons": {
                        "type": "boolean"
                    },
                    "custom_status": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomStatus"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "default_guilds_restricted": {
                        "type": "boolean"
                    },
                    "detect_platform_accounts": {
                        "type": "boolean"
                    },
                    "developer_mode": {
                        "type": "boolean"
                    },
                    "disable_games_tab": {
                        "type": "boolean"
                    },
                    "enable_tts_command": {
                        "type": "boolean"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "friend_discovery_flags": {
                        "type": "integer"
                    },
                    "friend_source_flags": {
                        "$ref": "#/components/schemas/FriendSourceFlags"
                    },
                    "gateway_connected": {
                        "type": "boolean"
                    },
                    "gif_auto_play": {
                        "type": "boolean"
                    },
                    "guild_folders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildFolder"
                        }
                    },
                    "guild_positions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "inline_attachment_media": {
                        "type": "boolean"
                    },
                    "inline_embed_media": {
                        "type": "boolean"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "message_display_compact": {
                        "type": "boolean"
                    },
                    "native_phone_integration_enabled": {
                        "type": "boolean"
                    },
                    "render_embeds": {
                        "type": "boolean"
                    },
                    "render_reactions": {
                        "type": "boolean"
                    },
                    "restricted_guilds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "show_current_game": {
                        "type": "boolean"
                    },
                    "status": {
                        "enum": [
                            "dnd",
                            "idle",
                            "invisible",
                            "offline",
                            "online"
                        ],
                        "type": "string"
                    },
                    "stream_notifications_enabled": {
                        "type": "boolean"
                    },
                    "theme": {
                        "enum": [
                            "dark",
                            "light"
                        ],
                        "type": "string"
                    },
                    "timezone_offset": {
                        "type": "integer"
                    },
                    "view_nsfw_guilds": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "afk_timeout",
                    "allow_accessibility_detection",
                    "animate_emoji",
                    "animate_stickers",
                    "contact_sync_enabled",
                    "convert_emoticons",
                    "custom_status",
                    "default_guilds_restricted",
                    "detect_platform_accounts",
                    "developer_mode",
                    "disable_games_tab",
                    "enable_tts_command",
                    "explicit_content_filter",
                    "friend_discovery_flags",
                    "friend_source_flags",
                    "gateway_connected",
                    "gif_auto_play",
                    "guild_folders",
                    "guild_positions",
                    "inline_attachment_media",
                    "inline_embed_media",
                    "locale",
                    "message_display_compact",
                    "native_phone_integration_enabled",
                    "render_embeds",
                    "render_reactions",
                    "restricted_guilds",
                    "show_current_game",
                    "status",
                    "stream_notifications_enabled",
                    "theme",
                    "timezone_offset",
                    "view_nsfw_guilds"
                ]
            },
            "IdentifySchema": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "properties": {
                        "type": "object",
                        "properties": {
                            "os": {
                                "type": "string"
                            },
                            "os_atch": {
                                "type": "string"
                            },
                            "browser": {
                                "type": "string"
                            },
                            "device": {
                                "type": "string"
                            },
                            "$os": {
                                "type": "string"
                            },
                            "$browser": {
                                "type": "string"
                            },
                            "$device": {
                                "type": "string"
                            },
                            "browser_user_agent": {
                                "type": "string"
                            },
                            "browser_version": {
                                "type": "string"
                            },
                            "os_version": {
                                "type": "string"
                            },
                            "referrer": {
                                "type": "string"
                            },
                            "referring_domain": {
                                "type": "string"
                            },
                            "referrer_current": {
                                "type": "string"
                            },
                            "referring_domain_current": {
                                "type": "string"
                            },
                            "release_channel": {
                                "enum": [
                                    "canary",
                                    "dev",
                                    "ptb",
                                    "stable"
                                ],
                                "type": "string"
                            },
                            "client_build_number": {
                                "type": "integer"
                            },
                            "client_event_source": {
                                "type": "string"
                            },
                            "client_version": {
                                "type": "string"
                            },
                            "system_locale": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "intents": {
                        "type": "number"
                    },
                    "presence": {
                        "$ref": "#/components/schemas/ActivitySchema"
                    },
                    "compress": {
                        "type": "boolean"
                    },
                    "large_threshold": {
                        "type": "integer"
                    },
                    "largeThreshold": {
                        "type": "integer"
                    },
                    "shard": {
                        "minItems": 2,
                        "maxItems": 2,
                        "type": "array",
                        "items": {
                            "type": "number"
                        }
                    },
                    "guild_subscriptions": {
                        "type": "boolean"
                    },
                    "capabilities": {
                        "type": "integer"
                    },
                    "client_state": {
                        "type": "object",
                        "properties": {
                            "guild_hashes": {},
                            "highest_last_message_id": {
                                "type": "integer"
                            },
                            "read_state_version": {
                                "type": "integer"
                            },
                            "user_guild_settings_version": {
                                "type": "integer"
                            },
                            "user_settings_version": {
                                "type": "integer"
                            },
                            "useruser_guild_settings_version": {
                                "type": "integer"
                            },
                            "private_channels_version": {
                                "type": "integer"
                            },
                            "guild_versions": {},
                            "api_code_version": {
                                "type": "integer"
                            },
                            "initial_guild_id": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "clientState": {
                        "type": "object",
                        "properties": {
                            "guildHashes": {},
                            "highestLastMessageId": {
                                "type": "integer"
                            },
                            "readStateVersion": {
                                "type": "integer"
                            },
                            "userGuildSettingsVersion": {
                                "type": "integer"
                            },
                            "useruserGuildSettingsVersion": {
                                "type": "integer"
                            },
                            "guildVersions": {},
                            "apiCodeVersion": {
                                "type": "integer"
                            },
                            "initialGuildId": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "v": {
                        "type": "integer"
                    }
                },
                "required": [
                    "properties",
                    "token"
                ]
            },
            "StreamCreateSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "enum": [
                            "call",
                            "guild"
                        ],
                        "type": "string"
                    },
                    "channel_id": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "preferred_region": {
                        "type": "string"
                    }
                },
                "required": [
                    "channel_id",
                    "type"
                ]
            },
            "StreamDeleteSchema": {
                "type": "object",
                "properties": {
                    "stream_key": {
                        "type": "string"
                    }
                },
                "required": [
                    "stream_key"
                ]
            },
            "StreamWatchSchema": {
                "type": "object",
                "properties": {
                    "stream_key": {
                        "type": "string"
                    }
                },
                "required": [
                    "stream_key"
                ]
            },
            "APIErrorResponse": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "_errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "message": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "code",
                                            "message"
                                        ]
                                    }
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "_errors"
                            ]
                        }
                    }
                },
                "required": [
                    "code",
                    "errors",
                    "message"
                ]
            },
            "CaptchaRequiredResponse": {
                "type": "object",
                "properties": {
                    "captcha_key": {
                        "type": "string"
                    },
                    "captcha_sitekey": {
                        "type": "string"
                    },
                    "captcha_service": {
                        "type": "string"
                    }
                },
                "required": [
                    "captcha_key",
                    "captcha_service",
                    "captcha_sitekey"
                ]
            },
            "APIErrorOrCaptchaResponse": {
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/APIErrorResponse"
                    },
                    {
                        "$ref": "#/components/schemas/CaptchaRequiredResponse"
                    }
                ]
            },
            "AccountStandingResponse": {
                "type": "object",
                "properties": {
                    "classifications": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Classification"
                        }
                    },
                    "guild_classifications": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildClassification"
                        }
                    },
                    "account_standing": {
                        "type": "object",
                        "properties": {
                            "state": {
                                "$ref": "#/components/schemas/AccountStandingState"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "state"
                        ]
                    },
                    "is_dsa_eligible": {
                        "type": "boolean"
                    },
                    "username": {
                        "type": "string"
                    },
                    "discriminator": {
                        "type": "string"
                    },
                    "is_appeal_eligible": {
                        "type": "boolean"
                    },
                    "appeal_eligibility": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AppealEligibility"
                        }
                    }
                },
                "required": [
                    "account_standing",
                    "appeal_eligibility",
                    "classifications",
                    "discriminator",
                    "guild_classifications",
                    "is_appeal_eligible",
                    "is_dsa_eligible",
                    "username"
                ]
            },
            "BackupCodesChallengeResponse": {
                "type": "object",
                "properties": {
                    "nonce": {
                        "type": "string"
                    },
                    "regenerate_nonce": {
                        "type": "string"
                    }
                },
                "required": [
                    "nonce",
                    "regenerate_nonce"
                ]
            },
            "CollectiblesCategoriesResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/CollectiblesCategoryItem"
                }
            },
            "CollectiblesMarketingResponse": {
                "type": "object",
                "properties": {
                    "marketings": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/CollectiblesMarketingItem"
                        }
                    }
                },
                "required": [
                    "marketings"
                ]
            },
            "CollectiblesShopResponse": {
                "type": "object",
                "properties": {
                    "shop_blocks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AnyShopBlock"
                        }
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CollectiblesCategoryItem"
                        }
                    }
                },
                "required": [
                    "categories",
                    "shop_blocks"
                ]
            },
            "DiscoverableGuildsResponse": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer"
                    },
                    "guilds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Guild"
                        }
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "limit": {
                        "type": "integer"
                    }
                },
                "required": [
                    "guilds",
                    "limit",
                    "offset",
                    "total"
                ]
            },
            "DmMessagesResponseSchema": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/PartialMessage"
                }
            },
            "EmailDomainLookupResponse": {
                "type": "object",
                "properties": {
                    "guilds_info": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/HubGuild"
                        }
                    },
                    "has_matching_guild": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "guilds_info",
                    "has_matching_guild"
                ]
            },
            "EmailDomainLookupVerifyCodeResponse": {
                "type": "object",
                "properties": {
                    "guild": {
                        "$ref": "#/components/schemas/Guild"
                    },
                    "joined": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "guild",
                    "joined"
                ]
            },
            "EmojiSourceResponse": {
                "type": "object",
                "properties": {
                    "type": {
                        "enum": [
                            "APPLICATION",
                            "GUILD"
                        ],
                        "type": "string"
                    },
                    "guild": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/EmojiGuild"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "application": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/EmojiApplication"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "required": [
                    "type"
                ]
            },
            "GatewayBotResponse": {
                "type": "object",
                "properties": {
                    "url": {
                        "type": "string"
                    },
                    "shards": {
                        "type": "integer"
                    },
                    "session_start_limit": {
                        "type": "object",
                        "properties": {
                            "total": {
                                "type": "integer"
                            },
                            "remaining": {
                                "type": "integer"
                            },
                            "reset_after": {
                                "type": "integer"
                            },
                            "max_concurrency": {
                                "type": "integer"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "max_concurrency",
                            "remaining",
                            "reset_after",
                            "total"
                        ]
                    }
                },
                "required": [
                    "session_start_limit",
                    "shards",
                    "url"
                ]
            },
            "GatewayResponse": {
                "type": "object",
                "properties": {
                    "url": {
                        "type": "string"
                    }
                },
                "required": [
                    "url"
                ]
            },
            "GenerateRegistrationTokensResponse": {
                "type": "object",
                "properties": {
                    "tokens": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "tokens"
                ]
            },
            "GuildBansResponse": {
                "type": "object",
                "properties": {
                    "reason": {
                        "type": "string",
                        "nullable": true
                    },
                    "user": {
                        "type": "object",
                        "properties": {
                            "username": {
                                "type": "string"
                            },
                            "discriminator": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "avatar": {
                                "type": [
                                    "null",
                                    "string"
                                ]
                            },
                            "public_flags": {
                                "type": "integer"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "avatar",
                            "discriminator",
                            "id",
                            "public_flags",
                            "username"
                        ]
                    }
                },
                "required": [
                    "reason",
                    "user"
                ]
            },
            "GuildCreateResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "primary_category_id": {
                        "type": "string"
                    },
                    "large": {
                        "type": "boolean"
                    },
                    "max_members": {
                        "type": "integer"
                    },
                    "max_presences": {
                        "type": "integer"
                    },
                    "max_video_channel_users": {
                        "type": "integer"
                    },
                    "member_count": {
                        "type": "integer"
                    },
                    "presence_count": {
                        "type": "integer"
                    },
                    "template_id": {
                        "type": "string"
                    },
                    "mfa_level": {
                        "type": "integer"
                    },
                    "owner_id": {
                        "type": "string"
                    },
                    "premium_subscription_count": {
                        "type": "integer"
                    },
                    "premium_tier": {
                        "type": "integer"
                    },
                    "welcome_screen": {
                        "$ref": "#/components/schemas/GuildWelcomeScreen"
                    },
                    "widget_channel_id": {
                        "type": "string"
                    },
                    "widget_enabled": {
                        "type": "boolean"
                    },
                    "nsfw_level": {
                        "type": "integer"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "parent": {
                        "type": "string"
                    },
                    "region": {
                        "type": "string"
                    },
                    "features": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "banner": {
                        "type": "string",
                        "nullable": true
                    },
                    "system_channel_id": {
                        "type": "string"
                    },
                    "rules_channel_id": {
                        "type": "string"
                    },
                    "guild_template_code": {
                        "type": "string"
                    },
                    "staff_only": {
                        "type": "boolean"
                    },
                    "splash": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string"
                    },
                    "verification_level": {
                        "type": "integer"
                    },
                    "default_message_notifications": {
                        "type": "integer"
                    },
                    "system_channel_flags": {
                        "type": "integer"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "public_updates_channel_id": {
                        "type": "string"
                    },
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "afk_channel_id": {
                        "type": "string"
                    },
                    "preferred_locale": {
                        "type": "string"
                    },
                    "premium_progress_bar_enabled": {
                        "type": "boolean"
                    },
                    "discovery_splash": {
                        "type": "string"
                    },
                    "safety_alerts_channel_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "id",
                    "name",
                    "nsfw",
                    "welcome_screen",
                    "widget_enabled"
                ]
            },
            "GuildDiscoveryRequirementsResponse": {
                "type": "object",
                "properties": {
                    "guild_id": {
                        "type": "string"
                    },
                    "safe_environment": {
                        "type": "boolean"
                    },
                    "healthy": {
                        "type": "boolean"
                    },
                    "health_score_pending": {
                        "type": "boolean"
                    },
                    "size": {
                        "type": "boolean"
                    },
                    "nsfw_properties": {},
                    "protected": {
                        "type": "boolean"
                    },
                    "sufficient": {
                        "type": "boolean"
                    },
                    "sufficient_without_grace_period": {
                        "type": "boolean"
                    },
                    "valid_rules_channel": {
                        "type": "boolean"
                    },
                    "retention_healthy": {
                        "type": "boolean"
                    },
                    "engagement_healthy": {
                        "type": "boolean"
                    },
                    "age": {
                        "type": "boolean"
                    },
                    "minimum_age": {
                        "type": "integer"
                    },
                    "health_score": {
                        "type": "object",
                        "properties": {
                            "avg_nonnew_participators": {
                                "type": "integer"
                            },
                            "avg_nonnew_communicators": {
                                "type": "integer"
                            },
                            "num_intentful_joiners": {
                                "type": "integer"
                            },
                            "perc_ret_w1_intentful": {
                                "type": "integer"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "avg_nonnew_communicators",
                            "avg_nonnew_participators",
                            "num_intentful_joiners",
                            "perc_ret_w1_intentful"
                        ]
                    },
                    "minimum_size": {
                        "type": "integer"
                    }
                },
                "required": [
                    "age",
                    "engagement_healthy",
                    "guild_id",
                    "health_score",
                    "health_score_pending",
                    "healthy",
                    "minimum_age",
                    "minimum_size",
                    "nsfw_properties",
                    "protected",
                    "retention_healthy",
                    "safe_environment",
                    "size",
                    "sufficient",
                    "sufficient_without_grace_period",
                    "valid_rules_channel"
                ]
            },
            "GuildMessagesSearchResponse": {
                "type": "object",
                "properties": {
                    "messages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildMessagesSearchMessage"
                        }
                    },
                    "total_results": {
                        "type": "integer"
                    }
                },
                "required": [
                    "messages",
                    "total_results"
                ]
            },
            "GuildPruneResponse": {
                "type": "object",
                "properties": {
                    "pruned": {
                        "type": "integer"
                    }
                },
                "required": [
                    "pruned"
                ]
            },
            "GuildPurgeResponse": {
                "type": "object",
                "properties": {
                    "purged": {
                        "type": "integer"
                    }
                },
                "required": [
                    "purged"
                ]
            },
            "GuildRecommendationsResponse": {
                "type": "object",
                "properties": {
                    "recommended_guilds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Guild"
                        }
                    },
                    "load_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "load_id",
                    "recommended_guilds"
                ]
            },
            "GuildVanityUrlResponse": {
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/GuildVanityUrl"
                    },
                    {
                        "$ref": "#/components/schemas/GuildVanityUrlNoInvite"
                    },
                    {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildVanityUrl"
                        }
                    }
                ]
            },
            "GuildVanityUrlCreateResponse": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    }
                },
                "required": [
                    "code"
                ]
            },
            "GuildWidgetJsonResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "instant_invite": {
                        "type": "string"
                    },
                    "channels": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "position": {
                                    "type": "integer"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "id",
                                "name",
                                "position"
                            ]
                        }
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "username": {
                                    "type": "string"
                                },
                                "discriminator": {
                                    "type": "string"
                                },
                                "avatar": {
                                    "type": [
                                        "null",
                                        "string"
                                    ]
                                },
                                "status": {
                                    "$ref": "#/components/schemas/ClientStatus"
                                },
                                "avatar_url": {
                                    "type": "string"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "avatar",
                                "avatar_url",
                                "discriminator",
                                "id",
                                "status",
                                "username"
                            ]
                        }
                    },
                    "presence_count": {
                        "type": "integer"
                    }
                },
                "required": [
                    "channels",
                    "id",
                    "instant_invite",
                    "members",
                    "name",
                    "presence_count"
                ]
            },
            "GuildWidgetSettingsResponse": {
                "type": "object",
                "properties": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "channel_id": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/Snowflake"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "required": [
                    "channel_id",
                    "enabled"
                ]
            },
            "HubDirectoryEntriesResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/HubDirectoryEntry"
                }
            },
            "HubWaitlistSignupResponse": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "email_domain": {
                        "type": "string"
                    },
                    "school": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "email",
                    "email_domain",
                    "school",
                    "user_id"
                ]
            },
            "InstanceDomainsResponse": {
                "type": "object",
                "properties": {
                    "admin": {
                        "type": "string"
                    },
                    "api": {
                        "type": "string"
                    },
                    "apiEndpoint": {
                        "type": "string"
                    },
                    "cdn": {
                        "type": "string"
                    },
                    "gateway": {
                        "type": "string"
                    },
                    "defaultApiVersion": {
                        "type": "string"
                    }
                },
                "required": [
                    "api",
                    "apiEndpoint",
                    "cdn",
                    "defaultApiVersion",
                    "gateway"
                ]
            },
            "InstancePingResponse": {
                "type": "object",
                "properties": {
                    "ping": {
                        "type": "string",
                        "const": "pong!"
                    },
                    "instance": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "description": {
                                "type": [
                                    "null",
                                    "string"
                                ]
                            },
                            "image": {
                                "type": [
                                    "null",
                                    "string"
                                ]
                            },
                            "correspondenceEmail": {
                                "type": [
                                    "null",
                                    "string"
                                ]
                            },
                            "correspondenceUserID": {
                                "type": [
                                    "null",
                                    "string"
                                ]
                            },
                            "frontPage": {
                                "type": [
                                    "null",
                                    "string"
                                ]
                            },
                            "tosPage": {
                                "type": [
                                    "null",
                                    "string"
                                ]
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "correspondenceEmail",
                            "correspondenceUserID",
                            "description",
                            "frontPage",
                            "id",
                            "image",
                            "name",
                            "tosPage"
                        ]
                    }
                },
                "required": [
                    "instance",
                    "ping"
                ]
            },
            "InstanceStatsResponse": {
                "type": "object",
                "properties": {
                    "counts": {
                        "type": "object",
                        "properties": {
                            "user": {
                                "type": "integer"
                            },
                            "guild": {
                                "type": "integer"
                            },
                            "message": {
                                "type": "integer"
                            },
                            "members": {
                                "type": "integer"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "guild",
                            "members",
                            "message",
                            "user"
                        ]
                    }
                },
                "required": [
                    "counts"
                ]
            },
            "LocationMetadataResponse": {
                "type": "object",
                "properties": {
                    "consent_required": {
                        "type": "boolean"
                    },
                    "country_code": {
                        "type": "string"
                    },
                    "promotional_email_opt_in": {
                        "type": "object",
[...]
