{
    "openapi": "3.1.0",
    "info": {
        "title": "Spacebar Server",
        "description": "Spacebar is a Discord.com server implementation and extension, with the goal of complete feature parity with Discord.com, all while adding some additional goodies, security, privacy, and configuration options.",
        "license": {
            "name": "AGPLV3",
            "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
        },
        "version": "1.0.0"
    },
    "externalDocs": {
        "description": "Spacebar Docs",
        "url": "https://docs.spacebar.chat"
    },
    "servers": [
        {
            "url": "https://old.server.spacebar.chat/api/",
            "description": "Official Spacebar Instance"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Bearer/Bot prefixes are not required.",
                "bearerFormat": "JWT",
                "in": "header"
            }
        },
        "schemas": {
            "ApplicationCommandOption": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/ApplicationCommandOptionType"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "required": {
                        "type": "boolean"
                    },
                    "choices": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationCommandOptionChoice"
                        }
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationCommandOption"
                        }
                    }
                },
                "required": [
                    "description",
                    "name",
                    "type"
                ]
            },
            "ApplicationCommandOptionType": {
                "type": "number",
                "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8
                ]
            },
            "ApplicationCommandOptionChoice": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "value": {
                        "type": [
                            "string",
                            "integer"
                        ]
                    }
                },
                "required": [
                    "name",
                    "value"
                ]
            },
            "ApplicationCommandIndexPermissions": {
                "type": "object",
                "properties": {
                    "user": {
                        "type": "boolean"
                    },
                    "roles": {
                        "$ref": "#/components/schemas/Record<string,boolean>"
                    },
                    "channels": {
                        "$ref": "#/components/schemas/Record<string,boolean>"
                    }
                }
            },
            "ApplicationIntegrationType": {
                "type": "number",
                "enum": [
                    0,
                    1
                ]
            },
            "InteractionContextType": {
                "type": "number",
                "enum": [
                    0,
                    1,
                    2
                ]
            },
            "ApplicationCommandSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "format": "snowflake",
                        "type": "string"
                    },
                    "type": {
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ],
                        "type": "number"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "format": "snowflake",
                        "type": "string"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "format": "snowflake",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "name_localizations": {
                        "$ref": "#/components/schemas/Record<string,string>"
                    },
                    "name_localized": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string"
                    },
                    "description_localizations": {
                        "$ref": "#/components/schemas/Record<string,string>"
                    },
                    "description_localized": {
                        "type": "string",
                        "nullable": true
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationCommandOption"
                        }
                    },
                    "default_member_permissions": {
                        "type": "string",
                        "nullable": true
                    },
                    "dm_permission": {
                        "type": "boolean"
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/ApplicationCommandIndexPermissions"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "integration_types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationIntegrationType"
                        }
                    },
                    "global_popularity_rank": {
                        "type": "integer"
                    },
                    "contexts": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InteractionContextType"
                        }
                    },
                    "version": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "format": "snowflake",
                        "type": "string"
                    },
                    "handler": {
                        "enum": [
                            1,
                            2,
                            3
                        ],
                        "type": "number"
                    }
                },
                "required": [
                    "application_id",
                    "default_member_permissions",
                    "description",
                    "name",
                    "version"
                ]
            },
            "ApplicationCommandType": {
                "type": "number",
                "enum": [
                    1,
                    2,
                    3,
                    4
                ]
            },
            "InteractionData": {
                "type": "object",
                "properties": {
                    "application_command": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": true
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/UploadAttachmentRequestSchema"
                        }
                    },
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationCommandOption"
                        }
                    },
                    "type": {
                        "type": "integer"
                    },
                    "version": {
                        "type": "string"
                    }
                },
                "required": [
                    "application_command",
                    "attachments",
                    "id",
                    "name",
                    "options",
                    "type",
                    "version"
                ]
            },
            "UploadAttachmentRequestSchema": {
                "type": "object",
                "properties": {
                    "files": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/UploadAttachmentRequest"
                        }
                    }
                },
                "required": [
                    "files"
                ]
            },
            "UploadAttachmentRequest": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "filename": {
                        "type": "string"
                    },
                    "file_size": {
                        "type": "integer"
                    },
                    "is_clip": {
                        "type": "boolean"
                    },
                    "original_content_type": {
                        "type": "string"
                    }
                },
                "required": [
                    "file_size",
                    "filename"
                ]
            },
            "InteractionSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/ApplicationCommandType"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "format": "snowflake",
                        "type": "string"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "format": "snowflake",
                        "type": "string"
                    },
                    "channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "format": "snowflake",
                        "type": "string"
                    },
                    "message_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "format": "snowflake",
                        "type": "string"
                    },
                    "message_flags": {
                        "type": "integer"
                    },
                    "session_id": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/InteractionData"
                    },
                    "files": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {},
                            "additionalProperties": true
                        }
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "analytics_location": {
                        "type": "string"
                    },
                    "section_name": {
                        "type": "string"
                    },
                    "source": {
                        "type": "string"
                    }
                },
                "required": [
                    "application_id",
                    "channel_id",
                    "data",
                    "type"
                ]
            },
            "InteractionCallbackType": {
                "type": "number",
                "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12
                ]
            },
            "MessageCreateSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "integer"
                    },
                    "content": {
                        "type": "string"
                    },
                    "mobile_network_type": {
                        "type": "string"
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "channel_id": {
                        "type": "string"
                    },
                    "tts": {
                        "type": "boolean"
                    },
                    "flags": {
                        "type": "integer"
                    },
                    "embeds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Embed"
                        }
                    },
                    "embed": {
                        "$ref": "#/components/schemas/Embed"
                    },
                    "allowed_mentions": {
                        "type": "object",
                        "properties": {
                            "parse": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "roles": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "users": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "replied_user": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": false
                    },
                    "message_reference": {
                        "type": "object",
                        "properties": {
                            "message_id": {
                                "type": "string"
                            },
                            "channel_id": {
                                "type": "string"
                            },
                            "guild_id": {
                                "type": "string"
                            },
                            "fail_if_not_exists": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "message_id"
                        ]
                    },
                    "payload_json": {
                        "type": "string"
                    },
                    "file": {
                        "type": "object",
                        "properties": {
                            "filename": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "filename"
                        ]
                    },
                    "attachments": {
                        "description": "TODO: we should create an interface for attachments\nTODO: OpenWAAO<-->attachment-style metadata conversion",
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "filename": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "filename",
                                        "id"
                                    ]
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "filename": {
                                            "type": "string"
                                        },
                                        "uploaded_filename": {
                                            "type": "string"
                                        },
                                        "original_content_type": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "filename",
                                        "uploaded_filename"
                                    ]
                                }
                            ]
                        }
                    },
                    "sticker_ids": {
                        "anyOf": [
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "components": {
                        "anyOf": [
                            {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ActionRowComponent"
                                }
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "poll": {
                        "$ref": "#/components/schemas/PollCreationSchema"
                    },
                    "enforce_nonce": {
                        "type": "boolean"
                    },
                    "applied_tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "thread_name": {
                        "type": "string"
                    },
                    "avatar_url": {
                        "type": "string"
                    }
                }
            },
            "Embed": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "enum": [
                            "article",
                            "gifv",
                            "image",
                            "link",
                            "rich",
                            "video"
                        ],
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "color": {
                        "type": "integer"
                    },
                    "footer": {
                        "type": "object",
                        "properties": {
                            "text": {
                                "type": "string"
                            },
                            "icon_url": {
                                "type": "string"
                            },
                            "proxy_icon_url": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "text"
                        ]
                    },
                    "image": {
                        "$ref": "#/components/schemas/EmbedImage"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/EmbedImage"
                    },
                    "video": {
                        "$ref": "#/components/schemas/EmbedImage"
                    },
                    "provider": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "author": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "icon_url": {
                                "type": "string"
                            },
                            "proxy_icon_url": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "fields": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "value": {
                                    "type": "string"
                                },
                                "inline": {
                                    "type": "boolean"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "name",
                                "value"
                            ]
                        }
                    }
                }
            },
            "EmbedImage": {
                "type": "object",
                "properties": {
                    "url": {
                        "type": "string"
                    },
                    "proxy_url": {
                        "type": "string"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "width": {
                        "type": "integer"
                    }
                }
            },
            "ActionRowComponent": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/MessageComponentType.ActionRow"
                    },
                    "components": {
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "$ref": "#/components/schemas/ButtonComponent"
                                },
                                {
                                    "$ref": "#/components/schemas/SelectMenuComponent"
                                },
                                {
                                    "$ref": "#/components/schemas/StringSelectMenuComponent"
                                },
                                {
                                    "$ref": "#/components/schemas/TextInputComponent"
                                }
                            ]
                        }
                    }
                },
                "required": [
                    "components",
                    "type"
                ]
            },
            "MessageComponentType.ActionRow": {
                "type": "number",
                "const": 1
            },
            "ButtonComponent": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/MessageComponentType.Button"
                    },
                    "style": {
                        "$ref": "#/components/schemas/ButtonStyle"
                    },
                    "label": {
                        "type": "string"
                    },
                    "emoji": {
                        "$ref": "#/components/schemas/PartialEmoji"
                    },
                    "custom_id": {
                        "type": "string"
                    },
                    "sku_id": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "disabled": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "style",
                    "type"
                ]
            },
            "MessageComponentType.Button": {
                "type": "number",
                "const": 2
            },
            "ButtonStyle": {
                "type": "number",
                "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6
                ]
            },
            "PartialEmoji": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "animated": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "SelectMenuComponent": {
                "type": "object",
                "properties": {
                    "type": {
                        "enum": [
                            3,
                            5,
                            6,
                            7,
                            8
                        ],
                        "type": "number"
                    },
                    "custom_id": {
                        "type": "string"
                    },
                    "channel_types": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    },
                    "placeholder": {
                        "type": "string"
                    },
                    "default_values": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SelectMenuDefaultOption"
                        }
                    },
                    "min_values": {
                        "type": "integer"
                    },
                    "max_values": {
                        "type": "integer"
                    },
                    "disabled": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "custom_id",
                    "type"
                ]
            },
            "SelectMenuDefaultOption": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "enum": [
                            "channel",
                            "role",
                            "user"
                        ],
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "type"
                ]
            },
            "StringSelectMenuComponent": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/MessageComponentType.StringSelect"
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SelectMenuOption"
                        }
                    },
                    "custom_id": {
                        "type": "string"
                    },
                    "channel_types": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    },
                    "placeholder": {
                        "type": "string"
                    },
                    "default_values": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SelectMenuDefaultOption"
                        }
                    },
                    "min_values": {
                        "type": "integer"
                    },
                    "max_values": {
                        "type": "integer"
                    },
                    "disabled": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "custom_id",
                    "options",
                    "type"
                ]
            },
            "MessageComponentType.StringSelect": {
                "type": "number",
                "const": 3
            },
            "SelectMenuOption": {
                "type": "object",
                "properties": {
                    "label": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "emoji": {
                        "$ref": "#/components/schemas/PartialEmoji"
                    },
                    "default": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "label",
                    "value"
                ]
            },
            "TextInputComponent": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/MessageComponentType.TextInput"
                    },
                    "custom_id": {
                        "type": "string"
                    },
                    "style": {
                        "$ref": "#/components/schemas/TextInputStyle"
                    },
                    "label": {
                        "type": "string"
                    },
                    "min_length": {
                        "type": "integer"
                    },
                    "max_length": {
                        "type": "integer"
                    },
                    "required": {
                        "type": "boolean"
                    },
                    "value": {
                        "type": "string"
                    },
                    "placeholder": {
                        "type": "string"
                    }
                },
                "required": [
                    "custom_id",
                    "label",
                    "style",
                    "type"
                ]
            },
            "MessageComponentType.TextInput": {
                "type": "number",
                "const": 4
            },
            "TextInputStyle": {
                "type": "number",
                "enum": [
                    1,
                    2
                ]
            },
            "PollCreationSchema": {
                "type": "object",
                "properties": {
                    "question": {
                        "$ref": "#/components/schemas/PollMedia"
                    },
                    "answers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PollAnswer"
                        }
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "allow_multiselect": {
                        "type": "boolean"
                    },
                    "layout_type": {
                        "type": "integer"
                    }
                },
                "required": [
                    "answers",
                    "question"
                ]
            },
            "PollMedia": {
                "type": "object",
                "properties": {
                    "text": {
                        "type": "string"
                    },
                    "emoji": {
                        "$ref": "#/components/schemas/PartialEmoji"
                    }
                }
            },
            "PollAnswer": {
                "type": "object",
                "properties": {
                    "answer_id": {
                        "type": "string"
                    },
                    "poll_media": {
                        "$ref": "#/components/schemas/PollMedia"
                    }
                },
                "required": [
                    "poll_media"
                ]
            },
            "InteractionCallbackSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/InteractionCallbackType"
                    },
                    "data": {
                        "$ref": "#/components/schemas/MessageCreateSchema"
                    }
                },
                "required": [
                    "data",
                    "type"
                ]
            },
            "ConnectedAccountCommonOAuthTokenResponse": {
                "type": "object",
                "properties": {
                    "access_token": {
                        "type": "string"
                    },
                    "token_type": {
                        "type": "string"
                    },
                    "scope": {
                        "type": "string"
                    },
                    "refresh_token": {
                        "type": "string"
                    },
                    "expires_in": {
                        "type": "integer"
                    }
                },
                "required": [
                    "access_token",
                    "scope",
                    "token_type"
                ]
            },
            "ClientResponse": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "integer"
                    },
                    "body": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": true
                    },
                    "headers": {}
                },
                "required": [
                    "body",
                    "headers",
                    "statusCode"
                ]
            },
            "HeaderBag": {
                "type": "object"
            },
            "HttpResponse": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "integer"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "headers": {
                        "$ref": "#/components/schemas/HeaderBag"
                    },
                    "body": {}
                },
                "required": [
                    "headers",
                    "statusCode"
                ]
            },
            "StreamingBlobSchema": {
                "type": "integer",
                "const": 42
            },
            "StringSchema": {
                "description": "Includes string and enum Smithy types.",
                "type": "integer",
                "const": 0
            },
            "TimestampDefaultSchema": {
                "description": "Smithy type timestamp, in JS as native Date object.",
                "type": "integer",
                "const": 4
            },
            "TimestampDateTimeSchema": {
                "type": "integer",
                "const": 5
            },
            "TimestampHttpDateSchema": {
                "type": "integer",
                "const": 6
            },
            "TimestampEpochSecondsSchema": {
                "type": "integer",
                "const": 7
            },
            "SchemaTraits": {
                "description": "Traits attached to schema objects.\n\nWhen this is a number, it refers to a pre-allocated\ntrait combination that is equivalent to one of the\nobject type's variations.",
                "anyOf": [
                    {
                        "description": "See https://smithy.io/2.0/trait-index.html for individual definitions.",
                        "type": "object",
                        "additionalProperties": {},
                        "properties": {
                            "idempotent": {
                                "const": 1,
                                "type": "number"
                            },
                            "idempotencyToken": {
                                "const": 1,
                                "type": "number"
                            },
                            "sensitive": {
                                "const": 1,
                                "type": "number"
                            },
                            "sparse": {
                                "const": 1,
                                "type": "number"
                            },
                            "httpLabel": {
                                "const": 1,
                                "type": "number"
                            },
                            "httpHeader": {
                                "type": "string"
                            },
                            "httpQuery": {
                                "type": "string"
                            },
                            "httpPrefixHeaders": {
                                "type": "string"
                            },
                            "httpQueryParams": {
                                "const": 1,
                                "type": "number"
                            },
                            "httpPayload": {
                                "const": 1,
                                "type": "number"
                            },
                            "http": {
                                "description": "[method, path, statusCode]",
                                "type": "array",
                                "items": [
                                    {
                                        "type": "string"
                                    },
                                    {
                                        "type": "string"
                                    },
                                    {
                                        "type": "integer"
                                    }
                                ],
                                "minItems": 3,
                                "maxItems": 3
                            },
                            "httpResponseCode": {
                                "const": 1,
                                "type": "number"
                            },
                            "endpoint": {
                                "description": "[hostPrefix]",
                                "type": "array",
                                "items": [
                                    {
                                        "type": "string"
                                    }
                                ],
                                "minItems": 1,
                                "maxItems": 1
                            },
                            "xmlAttribute": {
                                "const": 1,
                                "type": "number"
                            },
                            "xmlName": {
                                "type": "string"
                            },
                            "xmlNamespace": {
                                "description": "[prefix, uri]",
                                "type": "array",
                                "items": [
                                    {
                                        "type": "string"
                                    },
                                    {
                                        "type": "string"
                                    }
                                ],
                                "minItems": 2,
                                "maxItems": 2
                            },
                            "xmlFlattened": {
                                "const": 1,
                                "type": "number"
                            },
                            "jsonName": {
                                "type": "string"
                            },
                            "mediaType": {
                                "type": "string"
                            },
                            "error": {
                                "enum": [
                                    "client",
                                    "server"
                                ],
                                "type": "string"
                            },
                            "streaming": {
                                "const": 1,
                                "type": "number"
                            },
                            "eventHeader": {
                                "const": 1,
                                "type": "number"
                            },
                            "eventPayload": {
                                "const": 1,
                                "type": "number"
                            }
                        }
                    },
                    {
                        "type": "integer"
                    }
                ]
            },
            "StaticSimpleSchema": {
                "type": "array",
                "items": [
                    {
                        "type": "integer",
                        "const": 0
                    },
                    {
                        "type": "string"
                    },
                    {
                        "type": "string"
                    },
                    {
                        "$ref": "#/components/schemas/SchemaTraits"
                    },
                    {
                        "$ref": "#/components/schemas/$SchemaRef"
                    }
                ],
                "minItems": 5,
                "maxItems": 5
            },
            "NormalizedSchema": {
                "description": "Normalization wrapper for various schema data objects.",
                "type": "object"
            },
            "StaticSchema": {
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/StaticSimpleSchema"
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": 1
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            }
                        ],
                        "minItems": 5,
                        "maxItems": 5
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": 2
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            }
                        ],
                        "minItems": 6,
                        "maxItems": 6
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": 3
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/$SchemaRef"
                                }
                            }
                        ],
                        "minItems": 6,
                        "maxItems": 6
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": -3
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/$SchemaRef"
                                }
                            }
                        ],
                        "minItems": 6,
                        "maxItems": 6
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": 9
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            }
                        ],
                        "minItems": 6,
                        "maxItems": 6
                    }
                ]
            },
            "StaticListSchema": {
                "$ref": "#/components/schemas/StaticListSchema"
            },
            "StaticMapSchema": {
                "$ref": "#/components/schemas/StaticMapSchema"
            },
            "StaticStructureSchema": {
                "$ref": "#/components/schemas/StaticStructureSchema"
            },
            "StaticErrorSchema": {
                "$ref": "#/components/schemas/StaticErrorSchema"
            },
            "StaticOperationSchema": {
                "$ref": "#/components/schemas/StaticOperationSchema"
            },
            "SimpleSchema": {
                "description": "Although numeric values exist for most simple schema, this class is used for cases where traits are\nattached to those schema, since a single number cannot easily represent both a schema and its traits.",
                "type": "integer"
            },
            "UnitSchema": {
                "description": "Signal value for the Smithy void value. Typically used for\noperation input and outputs.",
                "type": "string",
                "const": "unit"
            },
            "TraitsSchema": {
                "description": "A schema that has traits.",
                "type": "object",
                "properties": {
                    "namespace": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "traits": {
                        "$ref": "#/components/schemas/SchemaTraits"
                    }
                },
                "required": [
                    "name",
                    "namespace",
                    "traits"
                ]
            },
            "SchemaRef": {
                "description": "A schema \"reference\" is either a schema or a function that\nprovides a schema. This is useful for lazy loading, and to allow\ncode generation to define schema out of dependency order.",
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/StaticSimpleSchema"
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": 1
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            }
                        ],
                        "minItems": 5,
                        "maxItems": 5
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": 2
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            }
                        ],
                        "minItems": 6,
                        "maxItems": 6
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": 3
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/$SchemaRef"
                                }
                            }
                        ],
                        "minItems": 6,
                        "maxItems": 6
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": -3
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/$SchemaRef"
                                }
                            }
                        ],
                        "minItems": 6,
                        "maxItems": 6
                    },
                    {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer",
                                "const": 9
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            },
                            {
                                "$ref": "#/components/schemas/$SchemaRef"
                            }
                        ],
                        "minItems": 6,
                        "maxItems": 6
                    },
                    {
                        "$ref": "#/components/schemas/NormalizedSchema"
                    },
                    {
                        "$ref": "#/components/schemas/TraitsSchema"
                    },
                    {
                        "$ref": "#/components/schemas/ListSchema"
                    },
                    {
                        "$ref": "#/components/schemas/MapSchema"
                    },
                    {
                        "$ref": "#/components/schemas/StructureSchema"
                    },
                    {
                        "description": "Indicates the schema is a member of a parent Structure schema.\nIt may also have a set of member traits distinct from its target shape's traits.",
                        "type": "array",
                        "items": [
                            {
                                "$ref": "#/components/schemas/SchemaRef"
                            },
                            {
                                "$ref": "#/components/schemas/SchemaTraits"
                            }
                        ],
                        "minItems": 2,
                        "maxItems": 2
                    },
                    {
                        "$ref": "#/components/schemas/OperationSchema"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false
                    },
                    {
                        "const": "unit",
                        "type": "string"
                    },
                    {
                        "type": "integer"
                    }
                ]
            },
            "ListSchema": {
                "description": "Schema for the list aggregate type.",
                "type": "object",
                "properties": {
                    "valueSchema": {
                        "$ref": "#/components/schemas/SchemaRef"
                    },
                    "namespace": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "traits": {
                        "$ref": "#/components/schemas/SchemaTraits"
                    }
                },
                "required": [
                    "name",
                    "namespace",
                    "traits",
                    "valueSchema"
                ]
            },
            "MapSchema": {
                "description": "Schema for the map aggregate type.",
                "type": "object",
                "properties": {
                    "keySchema": {
                        "$ref": "#/components/schemas/SchemaRef"
                    },
                    "valueSchema": {
                        "$ref": "#/components/schemas/SchemaRef"
                    },
                    "namespace": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "traits": {
                        "$ref": "#/components/schemas/SchemaTraits"
                    }
                },
                "required": [
                    "keySchema",
                    "name",
                    "namespace",
                    "traits",
                    "valueSchema"
                ]
            },
            "StructureSchema": {
                "description": "Schema for the structure aggregate type.",
                "type": "object",
                "properties": {
                    "memberNames": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "memberList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SchemaRef"
                        }
                    },
                    "members": {
                        "$ref": "#/components/schemas/Record<string,[SchemaRef,SchemaTraits]>"
                    },
                    "namespace": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "traits": {
                        "$ref": "#/components/schemas/SchemaTraits"
                    }
                },
                "required": [
                    "memberList",
                    "memberNames",
                    "name",
                    "namespace",
                    "traits"
                ]
            },
            "MemberSchema": {
                "$ref": "#/components/schemas/MemberSchema",
                "description": "Indicates the schema is a member of a parent Structure schema.\nIt may also have a set of member traits distinct from its target shape's traits."
            },
            "OperationSchema": {
                "$ref": "#/components/schemas/OperationSchema",
                "description": "Schema for an operation."
            },
            "ResolvedHttpResponse": {
                "type": "object",
                "properties": {
                    "body": {
                        "type": "string"
                    },
                    "statusCode": {
                        "type": "integer"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "headers": {
                        "$ref": "#/components/schemas/HeaderBag"
                    }
                },
                "required": [
                    "body",
                    "headers",
                    "statusCode"
                ]
            },
            "MetricDataResult": {
                "description": "<p>The result of a single metric data query.</p>",
                "type": "object",
                "properties": {
                    "Id": {
                        "description": "<p>The query identifier.</p>",
                        "type": "string"
                    },
                    "Timestamps": {
                        "description": "<p>A list of timestamps for the metric data results.</p>",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    "Values": {
                        "description": "<p>A list of values (cumulative / sum) for the metric data results.</p>",
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                }
            },
            "MetricDataError": {
                "description": "<p>An error corresponding to the unsuccessful processing of a single metric data query.</p>",
                "type": "object",
                "properties": {
                    "Id": {
                        "description": "<p>The query identifier.</p>",
                        "type": "string"
                    },
                    "Code": {
                        "description": "<p>The query error code. Can be one of:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>INTERNAL_FAILURE</code> – Amazon SES has failed to process one of the queries.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCESS_DENIED</code> – You have insufficient access to retrieve metrics\n                    based on the given query.</p>\n            </li>\n         </ul>",
                        "enum": [
                            "ACCESS_DENIED",
                            "INTERNAL_FAILURE"
                        ],
                        "type": "string"
                    },
                    "Message": {
                        "description": "<p>The error message associated with the current query error.</p>",
                        "type": "string"
                    }
                }
            },
            "BatchGetMetricDataResponse": {
                "description": "<p>Represents the result of processing your metric data batch request</p>",
                "type": "object",
                "properties": {
                    "Results": {
                        "description": "<p>A list of successfully retrieved <code>MetricDataResult</code>.</p>",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MetricDataResult"
                        }
                    },
                    "Errors": {
                        "description": "<p>A list of <code>MetricDataError</code> encountered while processing your metric data batch request.</p>",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MetricDataError"
                        }
                    }
                }
            },
            "CancelExportJobResponse": {
                "description": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "type": "object"
            },
            "CreateConfigurationSetResponse": {
                "description": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "type": "object"
            },
            "CreateConfigurationSetEventDestinationResponse": {
                "description": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "type": "object"
            },
            "CreateContactResponse": {
                "type": "object"
            },
            "CreateContactListResponse": {
                "type": "object"
            },
            "CreateCustomVerificationEmailTemplateResponse": {
                "description": "<p>If the action is successful, the service sends back an HTTP 200 response with an empty\n            HTTP body.</p>",
                "type": "object"
            },
            "CreateDedicatedIpPoolResponse": {
                "description": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "type": "object"
            },
            "CreateDeliverabilityTestReportResponse": {
                "description": "<p>Information about the predictive inbox placement test that you created.</p>",
                "type": "object",
                "properties": {
                    "ReportId": {
                        "description": "<p>A unique string that identifies the predictive inbox placement test.</p>",
                        "type": "string"
                    },
                    "DeliverabilityTestStatus": {
                        "description": "<p>The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test\n            is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the\n            test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use\n            the <code>GetDeliverabilityTestReport</code> to view the results of the test.</p>",
                        "enum": [
                            "COMPLETED",
                            "IN_PROGRESS"
                        ],
                        "type": "string"
                    }
                },
                "required": [
                    "DeliverabilityTestStatus",
                    "ReportId"
                ]
            },
            "DkimAttributes": {
                "description": "<p>An object that contains information about the DKIM authentication status for an email\n            identity.</p>\n         <p>Amazon SES determines the authentication status by searching for specific records in the\n            DNS configuration for the domain. If you used <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Easy DKIM</a> to set up DKIM\n            authentication, Amazon SES tries to find three unique CNAME records in the DNS configuration\n            for your domain. If you provided a public key to perform DKIM authentication, Amazon SES\n            tries to find a TXT record that uses the selector that you specified. The value of the\n            TXT record must be a public key that's paired with the private key that you specified in\n            the process of creating the identity</p>",
                "type": "object",
                "properties": {
                    "SigningEnabled": {
                        "description": "<p>If the value is <code>true</code>, then the messages that you send from the identity\n            are signed using DKIM. If the value is <code>false</code>, then the messages that you\n            send from the identity aren't DKIM-signed.</p>",
                        "type": "boolean"
                    },
                    "Status": {
                        "description": "<p>Describes whether or not Amazon SES has successfully located the DKIM records in the DNS\n            records for the domain. The status can be one of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> – The verification process was initiated, but Amazon SES\n                    hasn't yet detected the DKIM records in the DNS configuration for the\n                    domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCESS</code> – The verification process completed\n                    successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> – The verification process failed. This typically\n                    occurs when Amazon SES fails to find the DKIM records in the DNS configuration of the\n                    domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TEMPORARY_FAILURE</code> – A temporary issue is preventing Amazon SES\n                    from determining the DKIM authentication status of the domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_STARTED</code> – The DKIM verification process hasn't been\n                    initiated for the domain.</p>\n            </li>\n         </ul>",
                        "enum": [
                            "FAILED",
                            "NOT_STARTED",
                            "PENDING",
                            "SUCCESS",
                            "TEMPORARY_FAILURE"
                        ],
                        "type": "string"
                    },
                    "Tokens": {
                        "description": "<p>If you used <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Easy DKIM</a> to configure DKIM authentication for the domain, then this object\n            contains a set of unique strings that you use to create a set of CNAME records that you\n            add to the DNS configuration for your domain. When Amazon SES detects these records in the\n            DNS configuration for your domain, the DKIM authentication process is complete.</p>\n         <p>If you configured DKIM authentication for the domain by providing your own\n            public-private key pair, then this object contains the selector for the public\n            key.</p>\n         <p>Regardless of the DKIM authentication method you use, Amazon SES searches for the\n            appropriate records in the DNS configuration of the domain for up to 72 hours.</p>",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "SigningAttributesOrigin": {
                        "description": "<p>A string that indicates how DKIM was configured for the identity. These are the\n            possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AWS_SES</code> – Indicates that DKIM was configured for the\n                    identity by using <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Easy DKIM</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXTERNAL</code> – Indicates that DKIM was configured for the\n                    identity by using Bring Your Own DKIM (BYODKIM).</p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AF_SOUTH_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Africa (Cape Town) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_EU_NORTH_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Europe (Stockholm) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AP_SOUTH_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Asia Pacific (Mumbai) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AP_SOUTH_2</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Asia Pacific (Hyderabad) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_EU_WEST_3</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Europe (Paris) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_EU_WEST_2</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Europe (London) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_EU_SOUTH_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Europe (Milan) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_EU_WEST_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Europe (Ireland) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AP_NORTHEAST_3</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Asia Pacific (Osaka) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AP_NORTHEAST_2</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Asia Pacific (Seoul) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_ME_CENTRAL_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Middle East (UAE) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_ME_SOUTH_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Middle East (Bahrain) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AP_NORTHEAST_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Asia Pacific (Tokyo) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_IL_CENTRAL_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Israel (Tel Aviv) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_SA_EAST_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in South America (São Paulo) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_CA_CENTRAL_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Canada (Central) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AP_SOUTHEAST_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Asia Pacific (Singapore) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AP_SOUTHEAST_2</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Asia Pacific (Sydney) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_AP_SOUTHEAST_3</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Asia Pacific (Jakarta) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_EU_CENTRAL_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Europe (Frankfurt) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_EU_CENTRAL_2</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in Europe (Zurich) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_US_EAST_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in US East (N. Virginia) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_US_EAST_2</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in US East (Ohio) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_US_WEST_1</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in US West (N. California) region using Deterministic Easy-DKIM\n                    (DEED).\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_SES_US_WEST_2</code> – Indicates that DKIM was configured for the identity by\n                    replicating signing attributes from a parent identity in US West (Oregon) region using Deterministic Easy-DKIM (DEED).\n                </p>\n            </li>\n         </ul>",
                        "enum": [
                            "AWS_SES",
                            "AWS_SES_AF_SOUTH_1",
                            "AWS_SES_AP_NORTHEAST_1",
                            "AWS_SES_AP_NORTHEAST_2",
                            "AWS_SES_AP_NORTHEAST_3",
                            "AWS_SES_AP_SOUTHEAST_1",
                            "AWS_SES_AP_SOUTHEAST_2",
                            "AWS_SES_AP_SOUTHEAST_3",
                            "AWS_SES_AP_SOUTH_1",
                            "AWS_SES_AP_SOUTH_2",
                            "AWS_SES_CA_CENTRAL_1",
                            "AWS_SES_EU_CENTRAL_1",
                            "AWS_SES_EU_CENTRAL_2",
                            "AWS_SES_EU_NORTH_1",
                            "AWS_SES_EU_SOUTH_1",
                            "AWS_SES_EU_WEST_1",
                            "AWS_SES_EU_WEST_2",
                            "AWS_SES_EU_WEST_3",
                            "AWS_SES_IL_CENTRAL_1",
                            "AWS_SES_ME_CENTRAL_1",
                            "AWS_SES_ME_SOUTH_1",
                            "AWS_SES_SA_EAST_1",
                            "AWS_SES_US_EAST_1",
                            "AWS_SES_US_EAST_2",
                            "AWS_SES_US_WEST_1",
                            "AWS_SES_US_WEST_2",
                            "EXTERNAL"
                        ],
                        "type": "string"
                    },
                    "NextSigningKeyLength": {
                        "description": "<p>[Easy DKIM] The key length of the future DKIM key pair to be generated. This can be\n            changed at most once per day.</p>",
                        "enum": [
                            "RSA_1024_BIT",
                            "RSA_2048_BIT"
                        ],
                        "type": "string"
                    },
                    "CurrentSigningKeyLength": {
                        "description": "<p>[Easy DKIM] The key length of the DKIM key pair in use.</p>",
                        "enum": [
                            "RSA_1024_BIT",
                            "RSA_2048_BIT"
                        ],
                        "type": "string"
                    },
                    "LastKeyGenerationTimestamp": {
                        "description": "<p>[Easy DKIM] The last time a key pair was generated for this identity.</p>",
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreateEmailIdentityResponse": {
                "description": "<p>If the email identity is a domain, this object contains information about the DKIM\n            verification status for the domain.</p>\n         <p>If the email identity is an email address, this object is empty. </p>",
                "type": "object",
                "properties": {
                    "IdentityType": {
                        "description": "<p>The email identity type. Note: the <code>MANAGED_DOMAIN</code> identity type is not\n            supported.</p>",
                        "enum": [
                            "DOMAIN",
                            "EMAIL_ADDRESS",
                            "MANAGED_DOMAIN"
                        ],
                        "type": "string"
                    },
                    "VerifiedForSendingStatus": {
                        "description": "<p>Specifies whether or not the identity is verified. You can only send email from\n            verified email addresses or domains. For more information about verifying identities,\n            see the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-email-manage-verify.html\">Amazon Pinpoint User Guide</a>.</p>",
                        "type": "boolean"
                    },
                    "DkimAttributes": {
                        "description": "<p>An object that contains information about the DKIM attributes for the identity.</p>",
                        "$ref": "#/components/schemas/DkimAttributes"
                    }
                }
            },
            "CreateEmailIdentityPolicyResponse": {
                "description": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "type": "object"
            },
            "CreateEmailTemplateResponse": {
                "description": "<p>If the action is successful, the service sends back an HTTP 200 response with an empty\n            HTTP body.</p>",
                "type": "object"
            },
            "CreateExportJobResponse": {
                "description": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "type": "object",
                "properties": {
                    "JobId": {
                        "description": "<p>A string that represents the export job ID.</p>",
                        "type": "string"
                    }
                }
            },
            "CreateImportJobResponse": {
                "description": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "type": "object",
                "properties": {
                    "JobId": {
                        "description": "<p>A string that represents the import job ID.</p>",
                        "type": "string"
                    }
                }
            },
            "CreateMultiRegionEndpointResponse": {
                "description": "<p>An HTTP 200 response if the request succeeds, or an error message if the request\n            fails.</p>",
                "type": "object",
                "properties": {
                    "Status": {
                        "description": "<p>A status of the multi-region endpoint (global-endpoint) right after the create request.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> – The resource is being provisioned.</p>\n            </li>\n            <li>\n               <p>\n                  <code>READY</code> – The resource is ready to use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> – The resource failed to be provisioned.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> – The resource is being deleted as requested.</p>\n            </li>\n         </ul>",
                        "enum": [
                            "CREATING",
                            "DELETING",
                            "FAILED",
                            "READY"
                        ],
                        "type": "string"
                    },
                    "EndpointId": {
                        "description": "<p>The ID of the multi-region endpoint (global-endpoint).</p>",
                        "type": "string"
                    }
                }
            },
            "Tag": {
                "description": "<p>An object that defines the tags that are associated with a resource.\n                A <i>tag</i> is a label that you optionally define and associate with\n            a resource. Tags can help you categorize and manage resources in different ways, such as\n            by purpose, owner, environment, or other criteria. A resource can have as many as 50\n            tags.</p>\n         <p>Each tag consists of a required <i>tag key</i> and an\n                associated <i>tag value</i>, both of which you define. A tag key is a\n            general label that acts as a category for a more specific tag value. A tag value acts as\n            a descriptor within a tag key. A tag key can contain as many as 128 characters. A tag\n            value can contain as many as 256 characters. The characters can be Unicode letters,\n            digits, white space, or one of the following symbols: _ . : / = + -. The following\n            additional restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>For each associated resource, each tag key must be unique and it can have only\n                    one value.</p>\n            </li>\n            <li>\n               <p>The <code>aws:</code> prefix is reserved for use by Amazon Web Services; you can’t use it in\n                    any tag keys or values that you define. In addition, you can't edit or remove\n                    tag keys or values that use this prefix. Tags that use this prefix don’t count\n                    against the limit of 50 tags per resource.</p>\n            </li>\n            <li>\n               <p>You can associate tags with public or shared resources, but the tags are\n                    available only for your Amazon Web Services account, not any other accounts that share the\n                    resource. In addition, the tags are available only for resources that are\n                    located in the specified Amazon Web Services Region for your Amazon Web Services account.</p>\n            </li>\n         </ul>",
                "type": "object",
                "properties": {
                    "Key": {
                        "description": "<p>One part of a key-value pair that defines a tag. The maximum length of a tag key is\n            128 characters. The minimum length is 1 character.</p>",
                        "type": "string"
                    },
                    "Value": {
                        "description": "<p>The optional part of a key-value pair that defines a tag. The maximum length of a tag\n            value is 256 characters. The minimum length is 0 characters. If you don't want a\n            resource to have a specific tag value, don't specify a value for this parameter. If you\n            don't specify a value, Amazon SES sets the value to an empty string.</p>",
                        "type": "string"
                    }
                },
                "required": [
                    "Key",
                    "Value"
                ]
            },
            "CreateTenantResponse": {
                "description": "<p>Information about a newly created tenant.</p>",
                "type": "object",
                "properties": {
                    "TenantName": {
                        "description": "<p>The name of the tenant.</p>",
                        "type": "string"
                    },
                    "TenantId": {
                        "description": "<p>A unique identifier for the tenant.</p>",
                        "type": "string"
                    },
                    "TenantArn": {
                        "description": "<p>The Amazon Resource Name (ARN) of the tenant.</p>",
                        "type": "string"
                    },
                    "CreatedTimestamp": {
                        "description": "<p>The date and time when the tenant was created.</p>",
                        "type": "string",
                        "format": "date-time"
                    },
[...]
