{
    "openapi": "3.1.0",
    "info": {
        "title": "Spacebar Server",
        "description": "Spacebar is a free open source selfhostable discord compatible chat, voice and video platform",
        "license": {
            "name": "AGPLV3",
            "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
        },
        "version": "1.0.0"
    },
    "externalDocs": {
        "description": "Spacebar Docs",
        "url": "https://docs.spacebar.chat"
    },
    "servers": [
        {
            "url": "https://old.server.spacebar.chat/api/",
            "description": "Official Spacebar Instance"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Bearer/Bot prefixes are not required.",
                "bearerFormat": "JWT",
                "in": "header"
            }
        },
        "schemas": {
            "AckBulkSchema": {
                "type": "object",
                "properties": {
                    "read_states": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "channel_id": {
                                    "type": "string"
                                },
                                "message_id": {
                                    "type": "string"
                                },
                                "read_state_type": {
                                    "type": "number"
                                }
                            },
                            "required": [
                                "channel_id",
                                "message_id",
                                "read_state_type"
                            ],
                            "additionalProperties": false
                        }
                    }
                },
                "required": [
                    "read_states"
                ]
            },
            "ApplicationAuthorizeSchema": {
                "type": "object",
                "properties": {
                    "authorize": {
                        "type": "boolean"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "string"
                    },
                    "captcha_key": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    }
                },
                "required": [
                    "authorize",
                    "guild_id",
                    "permissions"
                ]
            },
            "ApplicationCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "team_id": {
                        "type": [
                            "string",
                            "number"
                        ]
                    }
                },
                "required": [
                    "name"
                ]
            },
            "ApplicationModifySchema": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "interactions_endpoint_url": {
                        "type": "string"
                    },
                    "max_participants": {
                        "type": "number",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "privacy_policy_url": {
                        "type": "string"
                    },
                    "role_connections_verification_url": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "terms_of_service_url": {
                        "type": "string"
                    },
                    "bot_public": {
                        "type": "boolean"
                    },
                    "bot_require_code_grant": {
                        "type": "boolean"
                    },
                    "flags": {
                        "type": "number"
                    }
                }
            },
            "BackupCodesChallengeSchema": {
                "type": "object",
                "properties": {
                    "password": {
                        "type": "string"
                    }
                },
                "required": [
                    "password"
                ]
            },
            "BanCreateSchema": {
                "type": "object",
                "properties": {
                    "delete_message_seconds": {
                        "type": "string"
                    },
                    "delete_message_days": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    }
                }
            },
            "BanModeratorSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "executor_id": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "user_id",
                    "guild_id",
                    "executor_id"
                ]
            },
            "BanRegistrySchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "executor_id": {
                        "type": "string"
                    },
                    "ip": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "user_id",
                    "guild_id",
                    "executor_id"
                ]
            },
            "BotModifySchema": {
                "type": "object",
                "properties": {
                    "avatar": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    }
                }
            },
            "ChannelModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "type": {
                        "$ref": "#/components/schemas/ChannelType"
                    },
                    "topic": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "bitrate": {
                        "type": "number"
                    },
                    "user_limit": {
                        "type": "number"
                    },
                    "rate_limit_per_user": {
                        "type": "number"
                    },
                    "position": {
                        "type": "number"
                    },
                    "permission_overwrites": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "type": {
                                    "$ref": "#/components/schemas/ChannelPermissionOverwriteType"
                                },
                                "allow": {
                                    "type": "string"
                                },
                                "deny": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "type",
                                "allow",
                                "deny"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "parent_id": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "rtc_region": {
                        "type": "string"
                    },
                    "default_auto_archive_duration": {
                        "type": "number"
                    },
                    "default_reaction_emoji": {
                        "type": "string",
                        "nullable": true
                    },
                    "flags": {
                        "type": "number"
                    },
                    "default_thread_rate_limit_per_user": {
                        "type": "number"
                    },
                    "video_quality_mode": {
                        "type": "number"
                    }
                }
            },
            "ChannelType": {
                "type": "number",
                "oneOf": [
                    {
                        "title": "GUILD_TEXT",
                        "const": 0
                    },
                    {
                        "title": "DM",
                        "const": 1
                    },
                    {
                        "title": "GUILD_VOICE",
                        "const": 2
                    },
                    {
                        "title": "GROUP_DM",
                        "const": 3
                    },
                    {
                        "title": "GUILD_CATEGORY",
                        "const": 4
                    },
                    {
                        "title": "GUILD_NEWS",
                        "const": 5
                    },
                    {
                        "title": "GUILD_STORE",
                        "const": 6
                    },
                    {
                        "title": "ENCRYPTED",
                        "const": 7
                    },
                    {
                        "title": "ENCRYPTED_THREAD",
                        "const": 8
                    },
                    {
                        "title": "TRANSACTIONAL",
                        "const": 9
                    },
                    {
                        "title": "GUILD_NEWS_THREAD",
                        "const": 10
                    },
                    {
                        "title": "GUILD_PUBLIC_THREAD",
                        "const": 11
                    },
                    {
                        "title": "GUILD_PRIVATE_THREAD",
                        "const": 12
                    },
                    {
                        "title": "GUILD_STAGE_VOICE",
                        "const": 13
                    },
                    {
                        "title": "DIRECTORY",
                        "const": 14
                    },
                    {
                        "title": "GUILD_FORUM",
                        "const": 15
                    },
                    {
                        "title": "TICKET_TRACKER",
                        "const": 33
                    },
                    {
                        "title": "KANBAN",
                        "const": 34
                    },
                    {
                        "title": "VOICELESS_WHITEBOARD",
                        "const": 35
                    },
                    {
                        "title": "CUSTOM_START",
                        "const": 64
                    },
                    {
                        "title": "UNHANDLED",
                        "const": 255
                    }
                ]
            },
            "ChannelPermissionOverwriteType": {
                "type": "number",
                "oneOf": [
                    {
                        "title": "role",
                        "const": 0
                    },
                    {
                        "title": "member",
                        "const": 1
                    },
                    {
                        "title": "group",
                        "const": 2
                    }
                ]
            },
            "ChannelPermissionOverwriteSchema": {
                "$ref": "#/components/schemas/ChannelPermissionOverwrite"
            },
            "ChannelPermissionOverwrite": {
                "type": "object",
                "properties": {
                    "allow": {
                        "type": "string"
                    },
                    "deny": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/ChannelPermissionOverwriteType"
                    }
                },
                "required": [
                    "allow",
                    "deny",
                    "id",
                    "type"
                ]
            },
            "ChannelReorderSchema": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "position": {
                            "type": "number"
                        },
                        "lock_permissions": {
                            "type": "boolean"
                        },
                        "parent_id": {
                            "type": "string"
                        }
                    },
                    "required": [
                        "id"
                    ],
                    "additionalProperties": false
                }
            },
            "CodesVerificationSchema": {
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string"
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "regenerate": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "key",
                    "nonce"
                ]
            },
            "ConnectedAccountSchema": {
                "type": "object",
                "properties": {
                    "external_id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "token_data": {
                        "$ref": "#/components/schemas/ConnectedAccountTokenData"
                    },
                    "friend_sync": {
                        "type": "boolean"
                    },
                    "name": {
                        "type": "string"
                    },
                    "revoked": {
                        "type": "boolean"
                    },
                    "show_activity": {
                        "type": "number"
                    },
                    "type": {
                        "type": "string"
                    },
                    "verified": {
                        "type": "boolean"
                    },
                    "visibility": {
                        "type": "number"
                    },
                    "integrations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "metadata_": {},
                    "metadata_visibility": {
                        "type": "number"
                    },
                    "two_way_link": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "external_id",
                    "user_id",
                    "name",
                    "type"
                ]
            },
            "ConnectedAccountTokenData": {
                "type": "object",
                "properties": {
                    "access_token": {
                        "type": "string"
                    },
                    "token_type": {
                        "type": "string"
                    },
                    "scope": {
                        "type": "string"
                    },
                    "refresh_token": {
                        "type": "string"
                    },
                    "expires_in": {
                        "type": "number"
                    },
                    "expires_at": {
                        "type": "number"
                    },
                    "fetched_at": {
                        "type": "number"
                    }
                },
                "required": [
                    "access_token",
                    "fetched_at"
                ]
            },
            "ConnectionCallbackSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "insecure": {
                        "type": "boolean"
                    },
                    "friend_sync": {
                        "type": "boolean"
                    },
                    "openid_params": {}
                },
                "required": [
                    "state",
                    "insecure",
                    "friend_sync"
                ]
            },
            "ConnectionUpdateSchema": {
                "type": "object",
                "properties": {
                    "visibility": {
                        "type": "boolean"
                    },
                    "show_activity": {
                        "type": "boolean"
                    },
                    "metadata_visibility": {
                        "type": "boolean"
                    }
                }
            },
            "DmChannelCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "recipients": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "recipients"
                ]
            },
            "EmojiCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    },
                    "require_colons": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "image"
                ]
            },
            "EmojiModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ForgotPasswordSchema": {
                "type": "object",
                "properties": {
                    "login": {
                        "type": "string"
                    },
                    "captcha_key": {
                        "type": "string"
                    }
                },
                "required": [
                    "login"
                ]
            },
            "GuildCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "region": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "channels": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChannelModifySchema"
                        }
                    },
                    "guild_template_code": {
                        "type": "string"
                    },
                    "system_channel_id": {
                        "type": "string"
                    },
                    "rules_channel_id": {
                        "type": "string"
                    }
                }
            },
            "GuildTemplateCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "name"
                ]
            },
            "GuildUpdateSchema": {
                "type": "object",
                "properties": {
                    "region": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "guild_template_code": {
                        "type": "string"
                    },
                    "system_channel_id": {
                        "type": "string"
                    },
                    "rules_channel_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "banner": {
                        "type": "string",
                        "nullable": true
                    },
                    "splash": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string"
                    },
                    "features": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "verification_level": {
                        "type": "number"
                    },
                    "default_message_notifications": {
                        "type": "number"
                    },
                    "system_channel_flags": {
                        "type": "number"
                    },
                    "explicit_content_filter": {
                        "type": "number"
                    },
                    "public_updates_channel_id": {
                        "type": "string"
                    },
                    "afk_timeout": {
                        "type": "number"
                    },
                    "afk_channel_id": {
                        "type": "string"
                    },
                    "preferred_locale": {
                        "type": "string"
                    },
                    "premium_progress_bar_enabled": {
                        "type": "boolean"
                    },
                    "discovery_splash": {
                        "type": "string"
                    }
                }
            },
            "GuildUpdateWelcomeScreenSchema": {
                "type": "object",
                "properties": {
                    "welcome_channels": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "channel_id": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "emoji_id": {
                                    "type": "string"
                                },
                                "emoji_name": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "channel_id",
                                "description"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "description": {
                        "type": "string"
                    }
                }
            },
            "IdentifySchema": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "properties": {
                        "type": "object",
                        "properties": {
                            "os": {
                                "type": "string"
                            },
                            "os_atch": {
                                "type": "string"
                            },
                            "browser": {
                                "type": "string"
                            },
                            "device": {
                                "type": "string"
                            },
                            "$os": {
                                "type": "string"
                            },
                            "$browser": {
                                "type": "string"
                            },
                            "$device": {
                                "type": "string"
                            },
                            "browser_user_agent": {
                                "type": "string"
                            },
                            "browser_version": {
                                "type": "string"
                            },
                            "os_version": {
                                "type": "string"
                            },
                            "referrer": {
                                "type": "string"
                            },
                            "referring_domain": {
                                "type": "string"
                            },
                            "referrer_current": {
                                "type": "string"
                            },
                            "referring_domain_current": {
                                "type": "string"
                            },
                            "release_channel": {
                                "type": "string",
                                "enum": [
                                    "stable",
                                    "dev",
                                    "ptb",
                                    "canary"
                                ]
                            },
                            "client_build_number": {
                                "type": "number"
                            },
                            "client_event_source": {
                                "type": "string"
                            },
                            "client_version": {
                                "type": "string"
                            },
                            "system_locale": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "intents": {
                        "type": "number"
                    },
                    "presence": {
                        "$ref": "#/components/schemas/ActivitySchema"
                    },
                    "compress": {
                        "type": "boolean"
                    },
                    "large_threshold": {
                        "type": "number"
                    },
                    "largeThreshold": {
                        "type": "number"
                    },
                    "shard": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "minItems": 2,
                        "maxItems": 2
                    },
                    "guild_subscriptions": {
                        "type": "boolean"
                    },
                    "capabilities": {
                        "type": "number"
                    },
                    "client_state": {
                        "type": "object",
                        "properties": {
                            "guild_hashes": {},
                            "highest_last_message_id": {
                                "type": [
                                    "string",
                                    "number"
                                ]
                            },
                            "read_state_version": {
                                "type": "number"
                            },
                            "user_guild_settings_version": {
                                "type": "number"
                            },
                            "user_settings_version": {
                                "type": "number"
                            },
                            "useruser_guild_settings_version": {
                                "type": "number"
                            },
                            "private_channels_version": {
                                "type": "number"
                            },
                            "guild_versions": {},
                            "api_code_version": {
                                "type": "number"
                            }
                        },
                        "additionalProperties": false
                    },
                    "clientState": {
                        "type": "object",
                        "properties": {
                            "guildHashes": {},
                            "highestLastMessageId": {
                                "type": [
                                    "string",
                                    "number"
                                ]
                            },
                            "readStateVersion": {
                                "type": "number"
                            },
                            "userGuildSettingsVersion": {
                                "type": "number"
                            },
                            "useruserGuildSettingsVersion": {
                                "type": "number"
                            },
                            "guildVersions": {},
                            "apiCodeVersion": {
                                "type": "number"
                            }
                        },
                        "additionalProperties": false
                    },
                    "v": {
                        "type": "number"
                    }
                },
                "required": [
                    "token",
                    "properties"
                ]
            },
            "ActivitySchema": {
                "type": "object",
                "properties": {
                    "afk": {
                        "type": "boolean"
                    },
                    "status": {
                        "$ref": "#/components/schemas/Status"
                    },
                    "activities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Activity"
                        }
                    },
                    "since": {
                        "type": "number"
                    }
                },
                "required": [
                    "status"
                ]
            },
            "Status": {
                "type": "string",
                "enum": [
                    "idle",
                    "dnd",
                    "online",
                    "offline",
                    "invisible"
                ]
            },
            "Activity": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/ActivityType"
                    },
                    "url": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "number"
                    },
                    "timestamps": {
                        "type": "object",
                        "properties": {
                            "start": {
                                "type": "number"
                            },
                            "end": {
                                "type": "number"
                            }
                        },
                        "required": [
                            "start",
                            "end"
                        ],
                        "additionalProperties": false
                    },
                    "application_id": {
                        "type": "string"
                    },
                    "details": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "emoji": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "animated": {
                                "type": "boolean"
                            }
                        },
                        "required": [
                            "name",
                            "animated"
                        ],
                        "additionalProperties": false
                    },
                    "party": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "size": {
                                "type": "array",
                                "items": {
                                    "type": "number"
                                }
                            }
                        },
                        "additionalProperties": false
                    },
                    "assets": {
                        "type": "object",
                        "properties": {
                            "large_image": {
                                "type": "string"
                            },
                            "large_text": {
                                "type": "string"
                            },
                            "small_image": {
                                "type": "string"
                            },
                            "small_text": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "secrets": {
                        "type": "object",
                        "properties": {
                            "join": {
                                "type": "string"
                            },
                            "spectate": {
                                "type": "string"
                            },
                            "match": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "instance": {
                        "type": "boolean"
                    },
                    "flags": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "sync_id": {
                        "type": "string"
                    },
                    "metadata": {
                        "type": "object",
                        "properties": {
                            "context_uri": {
                                "type": "string"
                            },
                            "album_id": {
                                "type": "string"
                            },
                            "artist_ids": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        },
                        "required": [
                            "album_id",
                            "artist_ids"
                        ],
                        "additionalProperties": false
                    },
                    "session_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "name",
                    "type",
                    "flags",
                    "session_id"
                ]
            },
            "ActivityType": {
                "type": "number",
                "oneOf": [
                    {
                        "title": "GAME",
                        "const": 0
                    },
                    {
                        "title": "STREAMING",
                        "const": 1
                    },
                    {
                        "title": "LISTENING",
                        "const": 2
                    },
                    {
                        "title": "CUSTOM",
                        "const": 4
                    },
                    {
                        "title": "COMPETING",
                        "const": 5
                    }
                ]
            },
            "InviteCreateSchema": {
                "type": "object",
                "properties": {
                    "target_user_id": {
                        "type": "string"
                    },
                    "target_type": {
                        "type": "string"
                    },
                    "validate": {
                        "type": "string"
                    },
                    "max_age": {
                        "type": "number"
                    },
                    "max_uses": {
                        "type": "number"
                    },
                    "temporary": {
                        "type": "boolean"
                    },
                    "unique": {
                        "type": "boolean"
                    },
                    "target_user": {
                        "type": "string"
                    },
                    "target_user_type": {
                        "type": "number"
                    }
                }
            },
            "LazyRequestSchema": {
                "type": "object",
                "properties": {
                    "guild_id": {
                        "type": "string"
                    },
                    "channels": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "type": "number"
                                }
                            },
                            "minItems": 2,
                            "maxItems": 2
                        }
                    },
                    "activities": {
                        "type": "boolean"
                    },
                    "threads": {
                        "type": "boolean"
                    },
                    "typing": {
                        "type": "boolean",
                        "const": true
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "thread_member_lists": {
                        "type": "array",
                        "items": {}
                    }
                },
                "required": [
                    "guild_id"
                ]
            },
            "LoginSchema": {
                "type": "object",
                "properties": {
                    "login": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "undelete": {
                        "type": "boolean"
                    },
                    "captcha_key": {
                        "type": "string"
                    },
                    "login_source": {
                        "type": "string"
                    },
                    "gift_code_sku_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "login",
                    "password"
                ]
            },
            "MemberChangeProfileSchema": {
                "type": "object",
                "properties": {
                    "banner": {
                        "type": "string",
                        "nullable": true
                    },
                    "nick": {
                        "type": "string"
                    },
                    "bio": {
                        "type": "string"
                    },
                    "pronouns": {
                        "type": "string"
                    },
                    "theme_colors": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "minItems": 2,
                        "maxItems": 2
                    }
                }
            },
            "MemberChangeSchema": {
                "type": "object",
                "properties": {
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "nick": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true
                    },
                    "bio": {
                        "type": "string"
                    }
                }
            },
            "MessageAcknowledgeSchema": {
                "type": "object",
                "properties": {
                    "manual": {
                        "type": "boolean"
                    },
                    "mention_count": {
                        "type": "number"
                    }
                }
            },
            "MessageCreateSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "number"
                    },
                    "content": {
                        "type": "string"
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "channel_id": {
                        "type": "string"
                    },
                    "tts": {
                        "type": "boolean"
                    },
                    "flags": {
                        "type": "string"
                    },
                    "embeds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Embed"
                        }
                    },
                    "embed": {
                        "$ref": "#/components/schemas/Embed"
                    },
                    "allowed_mentions": {
                        "type": "object",
                        "properties": {
                            "parse": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "roles": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "users": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "replied_user": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": false
                    },
                    "message_reference": {
                        "type": "object",
                        "properties": {
                            "message_id": {
                                "type": "string"
                            },
                            "channel_id": {
                                "type": "string"
                            },
                            "guild_id": {
                                "type": "string"
                            },
                            "fail_if_not_exists": {
                                "type": "boolean"
                            }
                        },
                        "required": [
                            "message_id",
                            "channel_id"
                        ],
                        "additionalProperties": false
                    },
                    "payload_json": {
                        "type": "string"
                    },
                    "file": {
                        "type": "object",
                        "properties": {
                            "filename": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "filename"
                        ],
                        "additionalProperties": false
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "filename": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "filename"
                            ],
                            "additionalProperties": false
                        },
                        "description": "TODO: we should create an interface for attachments TODO: OpenWAAO<-->attachment-style metadata conversion"
                    },
                    "sticker_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "Embed": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/EmbedType"
                    },
                    "description": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "color": {
                        "type": "number"
                    },
                    "footer": {
                        "type": "object",
                        "properties": {
                            "text": {
                                "type": "string"
                            },
                            "icon_url": {
                                "type": "string"
                            },
                            "proxy_icon_url": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "text"
                        ],
                        "additionalProperties": false
                    },
                    "image": {
                        "$ref": "#/components/schemas/EmbedImage"
                    },
                    "thumbnail": {
                        "$ref": "#/components/schemas/EmbedImage"
                    },
                    "video": {
                        "$ref": "#/components/schemas/EmbedImage"
                    },
                    "provider": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "author": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "icon_url": {
                                "type": "string"
                            },
                            "proxy_icon_url": {
                                "type": "string"
                            }
                        },
                        "additionalProperties": false
                    },
                    "fields": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "value": {
                                    "type": "string"
                                },
                                "inline": {
                                    "type": "boolean"
                                }
                            },
                            "required": [
                                "name",
                                "value"
                            ],
                            "additionalProperties": false
                        }
                    }
                }
            },
            "EmbedType": {
                "type": "string",
                "oneOf": [
                    {
                        "title": "rich",
                        "const": "rich"
                    },
                    {
                        "title": "image",
                        "const": "image"
                    },
                    {
                        "title": "video",
                        "const": "video"
                    },
                    {
                        "title": "gifv",
                        "const": "gifv"
                    },
                    {
                        "title": "article",
                        "const": "article"
                    },
                    {
                        "title": "link",
                        "const": "link"
                    }
                ]
            },
            "EmbedImage": {
                "type": "object",
                "properties": {
                    "url": {
                        "type": "string"
                    },
                    "proxy_url": {
                        "type": "string"
                    },
                    "height": {
                        "type": "number"
                    },
                    "width": {
                        "type": "number"
                    }
                }
            },
            "MessageEditSchema": {
                "type": "object",
                "properties": {
                    "content": {
                        "type": "string"
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "channel_id": {
                        "type": "string"
                    },
                    "tts": {
                        "type": "boolean"
                    },
                    "flags": {
                        "type": "string"
                    },
                    "embeds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Embed"
                        }
                    },
                    "embed": {
                        "$ref": "#/components/schemas/Embed"
                    },
                    "allowed_mentions": {
                        "type": "object",
                        "properties": {
                            "parse": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "roles": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "users": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "replied_user": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": false
                    },
                    "message_reference": {
                        "type": "object",
                        "properties": {
                            "message_id": {
                                "type": "string"
                            },
                            "channel_id": {
                                "type": "string"
                            },
                            "guild_id": {
                                "type": "string"
                            },
                            "fail_if_not_exists": {
                                "type": "boolean"
                            }
                        },
                        "required": [
                            "message_id",
                            "channel_id"
                        ],
                        "additionalProperties": false
                    },
                    "payload_json": {
                        "type": "string"
                    },
                    "file": {
                        "type": "object",
                        "properties": {
                            "filename": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "filename"
                        ],
                        "additionalProperties": false
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "filename": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "filename"
                            ],
                            "additionalProperties": false
                        },
                        "description": "TODO: we should create an interface for attachments TODO: OpenWAAO<-->attachment-style metadata conversion"
                    },
                    "sticker_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "MfaCodesSchema": {
                "type": "object",
                "properties": {
                    "password": {
                        "type": "string"
                    },
                    "regenerate": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "password"
                ]
            },
            "ModifyGuildStickerSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 30
                    },
                    "description": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "tags": {
                        "type": "string",
                        "maxLength": 200
                    }
                },
                "required": [
                    "name",
                    "tags"
                ]
            },
            "PasswordResetSchema": {
                "type": "object",
                "properties": {
                    "password": {
                        "type": "string"
                    },
                    "token": {
                        "type": "string"
                    }
                },
                "required": [
                    "password",
                    "token"
                ]
            },
            "PurgeSchema": {
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string"
                    },
                    "after": {
                        "type": "string"
                    }
                },
                "required": [
                    "before",
                    "after"
                ]
            },
            "RegisterSchema": {
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 32
                    },
                    "password": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 72
                    },
                    "consent": {
                        "type": "boolean"
                    },
                    "email": {
                        "type": "string"
                    },
                    "fingerprint": {
                        "type": "string"
                    },
                    "invite": {
                        "type": "string"
                    },
                    "date_of_birth": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "gift_code_sku_id": {
                        "type": "string"
                    },
                    "captcha_key": {
                        "type": "string"
                    },
                    "promotional_email_opt_in": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "username",
                    "consent"
                ]
            },
            "RelationshipPostSchema": {
                "type": "object",
                "properties": {
                    "discriminator": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    }
                },
                "required": [
                    "discriminator",
                    "username"
                ]
            },
            "RelationshipPutSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/RelationshipType"
                    }
                }
            },
            "RelationshipType": {
                "type": "number",
                "oneOf": [
                    {
                        "title": "outgoing",
                        "const": 4
                    },
                    {
                        "title": "incoming",
                        "const": 3
                    },
                    {
                        "title": "blocked",
                        "const": 2
                    },
                    {
                        "title": "friends",
                        "const": 1
                    }
                ]
            },
            "RoleModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "string"
                    },
                    "color": {
                        "type": "number"
                    },
                    "hoist": {
                        "type": "boolean"
                    },
                    "mentionable": {
                        "type": "boolean"
                    },
                    "position": {
                        "type": "number"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "unicode_emoji": {
                        "type": "string"
                    }
                }
            },
            "RolePositionUpdateSchema": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "position": {
                            "type": "number"
                        }
                    },
                    "required": [
                        "id",
                        "position"
                    ],
                    "additionalProperties": false
                }
            },
            "SelectProtocolSchema": {
                "type": "object",
                "properties": {
                    "protocol": {
                        "type": "string",
                        "enum": [
                            "webrtc",
                            "udp"
                        ]
                    },
                    "data": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "address": {
                                        "type": "string"
                                    },
                                    "port": {
                                        "type": "number"
                                    },
                                    "mode": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "address",
                                    "port",
                                    "mode"
                                ],
                                "additionalProperties": false
                            }
                        ]
                    },
                    "sdp": {
                        "type": "string"
                    },
                    "codecs": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "enum": [
                                        "opus",
                                        "VP8",
                                        "VP9",
                                        "H264"
                                    ]
                                },
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "audio",
                                        "video"
                                    ]
                                },
                                "priority": {
                                    "type": "number"
                                },
                                "payload_type": {
                                    "type": "number"
                                },
                                "rtx_payload_type": {
                                    "type": [
                                        "number",
                                        "null"
                                    ]
                                }
                            },
                            "required": [
                                "name",
                                "type",
                                "priority",
                                "payload_type"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "rtc_connection_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "protocol",
                    "data"
                ]
            },
            "TemplateCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "TemplateModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "TotpDisableSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    }
                },
                "required": [
                    "code"
                ]
            },
            "TotpEnableSchema": {
                "type": "object",
                "properties": {
                    "password": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "secret": {
                        "type": "string"
                    }
                },
                "required": [
                    "password"
                ]
            },
            "TotpSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "ticket": {
                        "type": "string"
                    },
                    "gift_code_sku_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "login_source": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "code",
                    "ticket"
                ]
            },
            "UserDeleteSchema": {
                "type": "object",
                "properties": {
                    "user_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "user_id"
                ]
            },
            "UserGuildSettingsSchema": {
                "type": "object",
                "properties": {
                    "message_notifications": {
                        "type": "number"
                    },
                    "mobile_push": {
                        "type": "boolean"
                    },
                    "mute_config": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/MuteConfig"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "muted": {
                        "type": "boolean"
                    },
                    "suppress_everyone": {
                        "type": "boolean"
                    },
                    "suppress_roles": {
                        "type": "boolean"
                    },
                    "version": {
                        "type": "number"
                    },
                    "guild_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "flags": {
                        "type": "number"
                    },
                    "mute_scheduled_events": {
                        "type": "boolean"
                    },
                    "hide_muted_channels": {
                        "type": "boolean"
                    },
                    "notify_highlights": {
                        "type": "number",
                        "const": 0
                    },
                    "channel_overrides": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ChannelOverride"
                        }
                    }
                }
            },
            "MuteConfig": {
                "type": "object",
                "properties": {
                    "end_time": {
                        "type": "number"
                    },
                    "selected_time_window": {
                        "type": "number"
                    }
                },
                "required": [
                    "end_time",
                    "selected_time_window"
                ]
            },
            "ChannelOverride": {
                "type": "object",
                "properties": {
                    "message_notifications": {
                        "type": "number"
                    },
                    "mute_config": {
                        "$ref": "#/components/schemas/MuteConfig"
                    },
                    "muted": {
                        "type": "boolean"
                    },
                    "channel_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "message_notifications",
                    "mute_config",
                    "muted",
                    "channel_id"
                ]
            },
            "UserModifySchema": {
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                    },
                    "avatar": {
                        "type": "string",
                        "nullable": true
                    },
                    "bio": {
                        "type": "string",
                        "maxLength": 1024
                    },
                    "accent_color": {
                        "type": "number"
                    },
                    "banner": {
                        "type": "string",
                        "nullable": true
                    },
                    "password": {
                        "type": "string"
                    },
                    "new_password": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "discriminator": {
                        "type": "string",
                        "minLength": 4,
                        "maxLength": 4
                    }
                }
            },
            "UserNoteUpdateSchema": {
                "type": "object",
                "properties": {
                    "note": {
                        "type": "string"
                    }
                },
                "required": [
                    "note"
                ]
            },
            "UserProfileModifySchema": {
                "type": "object",
                "properties": {
                    "bio": {
                        "type": "string"
                    },
                    "accent_color": {
                        "type": "number",
                        "nullable": true
                    },
                    "banner": {
                        "type": "string",
                        "nullable": true
                    },
                    "pronouns": {
                        "type": "string"
                    },
                    "theme_colors": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        },
                        "minItems": 2,
                        "maxItems": 2
                    }
                }
            },
            "UserSettingsSchema": {
                "type": "object",
                "properties": {
                    "afk_timeout": {
                        "type": "number"
                    },
                    "allow_accessibility_detection": {
                        "type": "boolean"
                    },
                    "animate_emoji": {
                        "type": "boolean"
                    },
                    "animate_stickers": {
                        "type": "number"
                    },
                    "contact_sync_enabled": {
                        "type": "boolean"
                    },
                    "convert_emoticons": {
                        "type": "boolean"
                    },
                    "custom_status": {
                        "anyOf": [
                            {
                                "type": "object",
                                "properties": {
                                    "emoji_id": {
                                        "type": "string"
                                    },
                                    "emoji_name": {
                                        "type": "string"
                                    },
                                    "expires_at": {
                                        "type": "number"
                                    },
                                    "text": {
                                        "type": "string"
                                    }
                                },
                                "additionalProperties": false
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "default_guilds_restricted": {
                        "type": "boolean"
                    },
                    "detect_platform_accounts": {
                        "type": "boolean"
                    },
                    "developer_mode": {
                        "type": "boolean"
                    },
                    "disable_games_tab": {
                        "type": "boolean"
                    },
                    "enable_tts_command": {
                        "type": "boolean"
                    },
                    "explicit_content_filter": {
                        "type": "number"
                    },
                    "friend_source_flags": {
                        "type": "object",
                        "properties": {
                            "all": {
                                "type": "boolean"
                            }
                        },
                        "required": [
                            "all"
                        ],
                        "additionalProperties": false
                    },
                    "gateway_connected": {
                        "type": "boolean"
                    },
                    "gif_auto_play": {
                        "type": "boolean"
                    },
                    "guild_folders": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "color": {
                                    "type": "number"
                                },
                                "guild_ids": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "id": {
                                    "type": "number"
                                },
                                "name": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "color",
                                "guild_ids",
                                "id",
                                "name"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "guild_positions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "inline_attachment_media": {
                        "type": "boolean"
                    },
                    "inline_embed_media": {
                        "type": "boolean"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "message_display_compact": {
                        "type": "boolean"
                    },
                    "native_phone_integration_enabled": {
                        "type": "boolean"
                    },
                    "render_embeds": {
                        "type": "boolean"
                    },
                    "render_reactions": {
                        "type": "boolean"
                    },
                    "restricted_guilds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "show_current_game": {
                        "type": "boolean"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "online",
                            "offline",
                            "dnd",
                            "idle",
                            "invisible"
                        ]
                    },
                    "stream_notifications_enabled": {
                        "type": "boolean"
                    },
                    "theme": {
                        "type": "string",
                        "enum": [
                            "dark",
                            "light"
                        ]
                    },
                    "timezone_offset": {
                        "type": "number"
                    }
                }
            },
            "VanityUrlSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 20
                    }
                }
            },
            "VoiceIdentifySchema": {
                "type": "object",
                "properties": {
                    "server_id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "session_id": {
                        "type": "string"
                    },
                    "token": {
                        "type": "string"
                    },
                    "video": {
                        "type": "boolean"
                    },
                    "streams": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string"
                                },
                                "rid": {
                                    "type": "string"
                                },
                                "quality": {
                                    "type": "number"
                                }
                            },
                            "required": [
                                "type",
                                "rid",
                                "quality"
                            ],
                            "additionalProperties": false
                        }
                    }
                },
                "required": [
                    "server_id",
                    "user_id",
                    "session_id",
                    "token"
                ]
            },
            "VoiceStateUpdateSchema": {
                "type": "object",
                "properties": {
                    "guild_id": {
                        "type": "string"
                    },
                    "channel_id": {
                        "type": "string"
                    },
                    "self_mute": {
                        "type": "boolean"
                    },
                    "self_deaf": {
                        "type": "boolean"
                    },
                    "self_video": {
                        "type": "boolean"
                    },
                    "preferred_region": {
                        "type": "string"
                    },
                    "request_to_speak_timestamp": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "suppress": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "self_mute",
                    "self_deaf"
                ]
            },
            "VoiceVideoSchema": {
                "type": "object",
                "properties": {
                    "audio_ssrc": {
                        "type": "number"
                    },
                    "video_ssrc": {
                        "type": "number"
                    },
                    "rtx_ssrc": {
                        "type": "number"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "streams": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "video",
                                        "audio"
                                    ]
                                },
                                "rid": {
                                    "type": "string"
                                },
                                "ssrc": {
                                    "type": "number"
                                },
                                "active": {
                                    "type": "boolean"
                                },
                                "quality": {
                                    "type": "number"
                                },
                                "rtx_ssrc": {
                                    "type": "number"
                                },
                                "max_bitrate": {
                                    "type": "number"
                                },
                                "max_framerate": {
                                    "type": "number"
                                },
                                "max_resolution": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string"
                                        },
                                        "width": {
                                            "type": "number"
                                        },
                                        "height": {
                                            "type": "number"
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "width",
                                        "height"
                                    ],
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "type",
                                "rid",
                                "ssrc",
                                "active",
                                "quality",
                                "rtx_ssrc",
                                "max_bitrate",
                                "max_framerate",
                                "max_resolution"
                            ],
                            "additionalProperties": false
                        }
                    }
                },
                "required": [
                    "audio_ssrc",
                    "video_ssrc"
                ]
            },
            "GenerateWebAuthnCredentialsSchema": {
                "type": "object",
                "properties": {
                    "password": {
                        "type": "string"
                    }
                },
                "required": [
                    "password"
                ]
            },
            "CreateWebAuthnCredentialSchema": {
                "type": "object",
                "properties": {
                    "credential": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "ticket": {
                        "type": "string"
                    }
                },
                "required": [
                    "credential",
                    "name",
                    "ticket"
                ]
            },
            "WebAuthnPostSchema": {
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/GenerateWebAuthnCredentialsSchema"
                    },
                    {
                        "$ref": "#/components/schemas/CreateWebAuthnCredentialSchema"
                    }
                ]
            },
            "WebAuthnTotpSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "ticket": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "ticket"
                ]
            },
            "WebhookCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 80
                    },
                    "avatar": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "WidgetModifySchema": {
                "type": "object",
                "properties": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "channel_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "enabled",
                    "channel_id"
                ]
            },
            "APIErrorResponse": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "number"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "_errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "message": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "message",
                                            "code"
                                        ],
                                        "additionalProperties": false
                                    }
                                }
                            },
                            "required": [
                                "_errors"
                            ],
                            "additionalProperties": false
                        }
                    }
                },
                "required": [
                    "code",
                    "message",
                    "errors"
                ]
            },
            "CaptchaRequiredResponse": {
                "type": "object",
                "properties": {
                    "captcha_key": {
                        "type": "string"
                    },
                    "captcha_sitekey": {
                        "type": "string"
                    },
                    "captcha_service": {
                        "type": "string"
                    }
                },
                "required": [
                    "captcha_key",
                    "captcha_sitekey",
                    "captcha_service"
                ]
            },
            "APIErrorOrCaptchaResponse": {
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/CaptchaRequiredResponse"
                    },
                    {
                        "$ref": "#/components/schemas/APIErrorResponse"
                    }
                ]
            },
            "BackupCodesChallengeResponse": {
                "type": "object",
                "properties": {
                    "nonce": {
                        "type": "string"
                    },
                    "regenerate_nonce": {
                        "type": "string"
                    }
                },
                "required": [
                    "nonce",
                    "regenerate_nonce"
                ]
            },
            "DiscoverableGuildsResponse": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number"
                    },
                    "guilds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Guild"
                        }
                    },
                    "offset": {
                        "type": "number"
                    },
                    "limit": {
                        "type": "number"
[...]
