{
	"module": {
		"type": "commonjs"
	},
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true
		},
		"target": "es2021",
		"baseUrl": "./",
		"paths": {
			"@fosscord/api": ["src/index.ts"],
			"@fosscord/api/*": ["src/*"]
		}
	}
}
