name: Build gateway docker image

on:
  push:
    branches:
      - master
    paths:
      - "src/gateway/**"
      - "src/schemas/**"
      - "src/util/**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Build the docker image
        run: nix build .#containers.x86_64-linux.docker.gateway
      - run: docker load < result
      - name: downcase REPO
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >>$GITHUB_ENV
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag and push the image
        run: |
         IMAGE_ID=$(docker images spacebar-server-ts-gateway --format '{{.ID}}')
         docker tag $IMAGE_ID ghcr.io/$REPO-gateway
         docker push ghcr.io/$REPO-gateway
